[2011-11-17 19:41] jjb opened #2 "Flatten :form hash?"
Hi -- I love the library.

What do you think about putting the POST vars hash at the top level instead of pointing at it with `:form`? There's nothing else in that options hash anyway, and also the word "form" kind of bothers me, since that's device-specific and in this case it's clearly not a form :)

[code]

[2011-11-17 20:52] #2 closed, assigned to nobody

[2011-11-17 20:56] jjb opened #3 "bundle root certs?"
<pre>
  ➔ irb

=> true

OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed
    from /Users/john/.rbenv/versions/1.9.3-p0/lib/ruby/1.9.1/net/http.rb:799:in `connect'
    from /Users/john/.rbenv/versions/1.9.3-p0/lib/ruby/1.9.1/net/http.rb:799:in `block in connect'
    from /Users/john/.rbenv/versions/1.9.3-p0/lib/ruby/1.9.1/timeou

[2012-02-13 02:52] #3 closed, assigned to nobody

[2012-08-17 19:48] bensie opened #12 "Optionally follow redirect (HTTP 301/302)"
Would be nice if Http would follow redirects, whether by default or as an option.

[2012-08-30 15:56] #12 closed, assigned to nobody

[2012-09-19 15:02] perkins2099 opened #17 "OpenSSL::SSL::SSLSocket:Class"
Trying to connect to https

resp = Http.with_headers(:accept => 'application/json').post "https://api.polldaddy.com", :body => JSON(req)

I'm getting this error:  OpenSSL::SSL::SSLSocket:Class

Any thoughts?

Thanks!

[2012-10-11 16:17] blambeau opened #18 "Apache2 seems to reject Http requests"
When trying something like

[code]

I have a 400 status. Apache logs seem strange:

[code]

[2012-10-12 17:26] benatkin opened #19 "roll a new release"
There are some fixes that haven't made it into rubygems. How about publishing a new version of the gem?

[2012-10-12 17:30] benatkin opened #20 "already initialized constant Http warning"
This is the only warning I get when I run `rails c` in my whole rails app. Might this be fixable or silencable?

[code]

[2012-10-12 20:56] #20 closed, assigned to nobody

[2012-10-12 20:56] #17 closed, assigned to nobody

[2012-10-12 20:59] #18 closed, assigned to nobody

[2012-10-12 20:59] #19 closed, assigned to nobody

[2012-10-22 05:43] larsx2 opened #21 "Http GET query parameters"
I have been trying to send some query parameters through GET but so far i don't really know how to do it with the Http gem.

Appending the params to the URL string doesn't help since the code create an URI object and calls for the host property.

Looking at the code i didn't see anything like params (Http.get URL, :params => {.. }) and using the body option throws a NoMethodError on a bytesize met

[2013-02-01 23:07] knewter opened #22 "Basic GETs failing in some cases"
I haven't tracked down anything about this yet, but I have a failing test case.

First, click this link: http://t.co/CN60RkMG

Then:

[code]

Expected behaviour: The html from that page should've been returned....

[2013-06-14 21:11] tarcieri opened #25 "Options are overridden by defaults when merging"
See https://github.com/tarcieri/http/commit/7179996ca58ef51ea3f1ad649ff7fa9be437d673

cc @blambeau

[2013-06-14 21:22] #25 closed, assigned to nobody

[2013-07-15 18:18] #21 closed, assigned to nobody

[2013-08-09 16:32] rafavalerio opened #29 "Get response returning an String"
The calling of a GET, with a chained response, gives the no 'response' method for String. Something like that:

get = Http.get("http://www.google.com").response

Any ideas on this? I've checked the unit tests and this should work normally.

[2013-09-09 21:07] tarcieri opened #32 "HTTP::Request does not automatically populate the Host header"
It should unless one has been explicitly specified

[2013-09-09 21:15] sferik opened #33 "Make classes independent"
For example, it should be possible to `require 'http/request'` and use the `HTTP::Request` class without requiring the entire HTTP gem.

[2013-09-09 21:50] #32 closed, assigned to nobody

[2013-09-10 12:14] #33 closed, assigned to nobody

[2013-09-10 12:31] #29 closed, assigned to nobody

[2013-09-11 06:16] tarcieri opened #34 "Drop Curl/Curb compatibility?"
Seemed like a good idea a the time. Now I'm not sure it's worth it, especially contained in the same gem.

[2013-09-11 07:06] #34 closed, assigned to nobody

[2013-09-11 14:39] johnae opened #35 "Must release http to rubygems with http headers module to install prerelease of reel"
Reel in it's prerelase depends on http with a headers module but the http gem released to ruby gems doesn't have that module. Yes, they're all prereleases but still.

[2013-09-11 15:38] #35 closed, assigned to nobody

[2013-09-14 18:16] tarcieri opened #37 "HTTP.verb(url) should return an HTTP::Response object by default, not the body"
The current API is probably overly simplified:

[code]

To get the response object, we have to do this:

[code]

Really it should probably be:

[code]

It'd be nice if body were an `HTTP::ResponseBody` object as well, then we could support streaming like this:

[code]

We could also make it Enumerable so you can use it like this if you prefer:

[code]

[2013-09-15 01:35] ghost opened #40 "extend "accepts" to accept a Proc."
I'm not sure if something like this fits well streamed response bodies, but I thought it might be nice to be able to write something like this:

[code]

[2013-09-15 05:28] ghost opened #41 "generic representations of HTTP status codes?"
Is this something that could live inside `http` (I stole the idea from Net::HTTP) ..?
the code is probably easy to pick this up from but the case-equality operator is implemented to provide a generic representation of the 2XX(HTTPOK), and 3XX(redirect) status codes.

I think the idea is cool and maybe it gets more interesting when you think about implementing stuff like `TweetTooLong` that can dec

[2013-09-16 05:19] #40 closed, assigned to nobody

[2013-09-16 09:09] jnicklas opened #42 "Mention in README that it supports Celluloid"
… because it currently doesn't, and that seems to be the main celling point (sorry), for this gem.

[2013-09-17 06:32] #42 closed, assigned to nobody

[2013-09-29 15:40] #41 closed, assigned to nobody

[2013-10-04 04:10] robertjpayne opened #43 "HTTP "via" for HTTP Proxy not working (0.5.0)"
I'm using Ruby 2.0.0 and HTTP 0.5.0 and using this tiny little example:

[code]

The request goes through just fine but in reality I have no HTTP proxy sitting on that address or port. I've tried it with my real web debugger address/port as well but it still goes through.

Is there a special way to enable proxies? I should note I do have Celluloid/IO installed on my machine if it makes any differe

[2013-10-07 17:54] sumits opened #44 "Parsing POST response getting end of file reached error"
Using the awesome http gem for parsing response from a POST request. Response is a simple JSON, ~350 bytes. Response doesn't include the Content-Length header, which is not mandatory for normal HTTP communication. Digging more in the code, problem seems to be in the body/chunk parsing code in https://github.com/tarcieri/http/blob/master/lib/http/client.rb. Here's what I am seeing
- Client requests

[2013-11-04 21:57] bjeanes opened #45 "Body is blank when response has no `Content-Length`"
As per [RFC 2616](http://www.ietf.org/rfc/rfc2616.txt) section 4.4, `Content-Length` is not a required header in responses. I'm using The HTTP Gem with a server that doesn't always send a `Content-Length` header.

In these cases, the body content is `""`. Combined with `accept(:json)`, this usually means `A JSON text must at least contain two octets! (JSON::ParserError)` exception.

See how Curl h

[2013-12-09 23:00] JustinAiken opened #46 "EOFError: end of file reached"
Seeing this behavior on both 0.5.0 and HEAD:

[code]

(Don't mind the Hyrda stuff, switching from Typheous haven't renamed the classes yet)

[2014-01-13 20:46] tarcieri opened #54 "Drop 1.8 support?"
Is anyone opposed to dropping Ruby 1.8 support in this library?

[2014-01-13 22:50] #54 closed, assigned to nobody

[2014-01-16 07:51] tarcieri opened #57 "Remove the proxy API (closes #43)"
See #43

If the proxy API isn't working it should be removed. We should either fix it or remove it.

If it's removed it can be placed onto a branch where someone can fix it later if they so desire.

[2014-01-20 01:40] #43 closed, assigned to nobody

[2014-01-20 01:40] #57 closed, assigned to nobody

[2014-01-23 14:53] #37 closed, assigned to nobody

[2014-01-23 17:08] #44 closed, assigned to nobody

[2014-01-23 17:09] #45 closed, assigned to nobody

[2014-01-24 10:09] schmurfy opened #65 "Release version 0.6.0"
You should definetely make a release, there is such a large gap between 0.5.0 and master it looks like a completely different library, even if there are issues left in master it is worth pushing a release out I think since 0.5.0 has issues of its own anyway xD

is there any major issue preventing a release ?

[2014-01-24 11:26] sferik opened #67 "Add back ability to parse JSON from HTTP::Response"
It was temporarily removed in https://github.com/tarcieri/http/pull/64.

I’ve opened this issue as a blocker before we can release [version v0.6](https://github.com/tarcieri/http/issues?milestone=1&state=open).

[2014-01-24 11:28] sferik opened #68 "Proxy support"
A broken implementation of proxy support was removed in https://github.com/tarcieri/http/pull/62.

I’ve added this issue to the [version v0.6](https://github.com/tarcieri/http/issues?milestone=1&state=open) milestone. IMHO, it is not a blocker for v0.6, since it was never properly working, but is a blocker for v1.0.0. Better to implement it sooner rather than later to ensure we get the API right.

[2014-01-26 12:41] #68 closed, assigned to nobody

[2014-01-30 15:13] sferik opened #73 "API to post file"
I’m trying to perform a multipart `POST` with the HTTP gem but I’m having trouble getting the headers and body right. We should include an example of how to do this in the `README`.

[2014-01-31 15:19] ghost opened #74 "No way to access multiple Set-Cookie headers in HTTP::Response.headers"
This seems impossible.. I have a remote app generating 2 Set-Cookie lines and another device inline inserting a third Set-Cookie line after, only the third pops into the headers hash, I need the first two.

Looks like this requires a patch to http_parser.rb to do, which was offered as a pull for a few years but never accepted. The underlying C parses out cookies into their own object.

This is an

[2014-01-31 18:44] #74 closed, assigned to ixti

[2014-02-03 18:55] Asmod4n opened #77 "Caching support (was: Conditional Gets)"
Would be nice to have some form of Response caching here, with a simple Hash Store and Memcache API Store, seeing how Github itself doesn't count successfull Conditional Gets towards the API limit.

[2014-02-11 22:56] paradox460 opened #82 "Chokes on URI objects"
This is one of those dumb things that you wish the standard library was smart enough to work around, but it isnt.

Right now, HTTP takes a string as the url for the request, and converts it to a URI object internally. Thats not bad.

The problem arises if you pass it a URI object. `URI.parse` does not like being given URI objects. :unamused:

It seems rather silly to have to convert my URI objects

[2014-02-12 08:58] #82 closed, assigned to nobody

[2014-02-13 20:01] sethvargo opened #83 "Document Proxy Support"
#70 added support for proxies, but there are no examples in the examples directory or documentation (that I could find).

[2014-02-13 20:03] sethvargo opened #84 "HTTP Basic Auth"
Could you please add support for easily setting HTTP Basic Auth? Right now, it's "possible", but not very friendly:

[code]

But it would be nice if there was a nicer API wrapper, like:

[code]

Or something along those lines. Thoughts? /cc @sferik

[2014-02-17 23:17] #84 closed, assigned to ixti

[2014-02-18 02:18] #83 closed, assigned to ixti

[2014-03-04 21:49] #46 closed, assigned to nobody

[2014-03-10 01:02] ixti opened #94 "Modify HTTP method upon redirects when needed"
At the moment HTTP method remains same as original upon redirects. It should be modified in some cases (e.g. 303): http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html

[2014-03-13 02:51] #67 closed, assigned to ixti

[2014-03-13 07:25] tarcieri opened #96 "Verify socket closure"
We're punting on keepalive and connection pooling (#72) for 0.6. We should ensure that sockets are closed correctly request completes (i.e. that we implement `Connection: close` semantics correctly)

[2014-03-16 11:15] ixti opened #99 "[CODESTYLE] Remove prefered collection methods cop"
I propose to remove following rubocop config in favor of default settings.

[code]

I might have strange reason, but with existing config, you will not be able to use `Pathname#find` (although we don't use it at the moment).

[2014-03-17 13:46] #99 closed, assigned to nobody

[2014-03-17 23:54] ixti opened #103 "Enforce `Host` header?"
At the moment we [implicitly set](https://github.com/tarcieri/http/blob/master/lib/http/request.rb#L71) `Host` header of request in case it wasn't provided:

[code]

I tend to think we should **enforce** it instead. The only use case that might want current (implicit behavior) is pretty weird IMHO:

[code]

[2014-03-18 17:57] #103 closed, assigned to nobody

[2014-03-18 23:30] sferik opened #105 "HTTP::Headers should be Enumerable"
One thing I missed while reviewing https://github.com/tarcieri/http/pull/92 was that we delegate `each` to `@pile` but don’t mix-in `Enumerable`, so methods like `map`, etc. will not work. I’ll add this as well as some regression tests.

[2014-03-18 23:34] #105 closed, assigned to nobody

[2014-03-23 22:56] #94 closed, assigned to ixti

[2014-03-24 11:19] ixti opened #112 "Enhance Redirector logic"
Redirector should allow to act in two modes: `strict` *(default)* and `non-strict`:

[code]

##### Strict mode VS non-strict

Thus in strict mode if original request was neither GET nor HEAD, and it received redirect 300, 301 or 302, a `StateError` exception will be raised. In non-strict mode, request will be redirected with `GET` verb. Notice that redirects with 307 and 308 codes will work same i

[2014-03-25 00:25] ixti opened #113 "Support for Gzip/Inflate"
Would like to see HTTP gem playing well with GZip/Inflate out of the box.

[2014-03-27 13:51] jwinter opened #114 "Response::Body#read doesn't work"
https://github.com/tarcieri/http/blob/master/lib/http/response/body.rb#L17 calls the Client#read method, which doesn't exist. Would submit a pull request, but not sure if Body#read should be deleted or updated to used readpartial or something else.

[2014-03-27 15:57] #114 closed, assigned to nobody

[2014-03-28 15:54] #96 closed, assigned to ixti

[2014-03-28 15:57] ixti opened #116 "Release Notes for v0.6"
##### Summary
- Rename `HTTP::Request#method` to `HTTP::Request#verb` (@krainboltgreene)
- Add `HTTP::ResponseBody` class (@tarcieri)
- Change API of response on `HTTP::Client.request` and "friends" (`#get`, `#post`, etc) (@tarcieri)
- Add `HTTP::Response#readpartial` (@tarcieri)
- Add `HTTP::Headers` class (@ixti)
- Fix and improve following redirects (@ixti)
- Add `HTTP::Request#redirect` (@ixti

[2014-03-29 22:44] #116 closed, assigned to nobody

[2014-03-31 10:09] sferik opened #118 "Change gem description"
This is the [current gem description](https://github.com/tarcieri/http/blob/9db41141c57fc586f02fb71dbbb16e9c3202be6a/http.gemspec#L8):

In my experience, this is both inaccurate and vaguely sexist/heteronormative.

I’d like to see this changed before the [v0.6](https://github.com/tarcieri/http/issues?milestone=1) release.

[2014-03-31 12:53] #118 closed, assigned to nobody

[2014-04-05 06:33] #65 closed, assigned to nobody

[2014-04-05 07:19] sferik opened #121 "Connection sharing"
Now that [v0.6.0 has shipped](https://github.com/tarcieri/http/issues/65), I’ve started benchmarking the [`http` branch of the `twitter` gem](https://github.com/sferik/twitter/tree/http) against [`master`](https://github.com/sferik/twitter), which uses Faraday with Net::HTTP.

While the spec suite runs about 4X faster in the `http` branch, the following real-world example—which outputs the screen

[2014-04-11 23:50] ixti opened #122 "Allow non-streaming requests"
In lots of cases streaming of body is not needed, so it's better to flush socket at the same time headers were received, thus underlying connection is closed for sure.

[2014-04-20 07:38] #122 closed, assigned to ixti

[2014-04-21 15:36] indirect opened #126 "Rescue JSON parse failures and return raw bodies instead?"
When making a request, if the content type returned is application/json, the body is parsed as JSON. Sadly, servers (in this case, Google's calendar API) are happy to return HTML error pages with a JSON content type.

It's impossible to even know what the error said using the HTTP library, because the request raises a JSON parsing exception rather than returning the request in a way such that the

[2014-05-25 08:24] ixti opened #135 "0.5.X EOL"
@tarcieri I believe it worth to release `v0.5.1` with latest state of `0-5-release` and drop `0.5.x` support. So, `0.6.1` will become a pivot of `release-0.6` branch (for backports and support and such) and master will be able to merge `0.7` changes :D like deprecations and so on.

[2014-05-25 20:19] #22 closed, assigned to nobody

[2014-05-26 22:36] #135 closed, assigned to nobody

[2014-05-29 20:14] #126 closed, assigned to nobody

[2014-06-08 15:22] barelyknown opened #137 "Intermittent blank response bodies with GET requests"
It took me a long time to even figure that this was happening! I don't have an idea as to why.

When I use `HTTP` to make GET requests, I'm seeing intermittent blank response bodies. The problem is not with the server response (which is never blank), and I don't see the problem with other libraries (I tested `HTTParty`).

[code]

Per 1,000 requests with `HTTP` I've seen as few as 3 blank response

[2014-06-21 11:45] #137 closed, assigned to ixti

[2014-06-23 15:06] ixti opened #148 "Simplification of BearerToken header API"
After revisiting of bearer token builder code, I have [deprecated](https://github.com/tarcieri/http/commit/ef9560a8f9e44fdcd72707bd472dbc75d9307778) `:encode` option as it actually does not belong to Bearer token at all and I'm 100% positive nobody was (and nobody will be) using that option, unless they are under effect of serious medicine drugs.

That left bearer token options to become a single-

[2014-06-23 20:06] #148 closed, assigned to nobody

[2014-07-26 19:28] krainboltgreene opened #149 "HTTP gem forcing me to use ext version of json?"
[code]

I'm trying to use json_pure, but I believe the http library is making me use json ext.

[2014-08-04 23:52] jmale opened #150 "'Host' HTTP header does not include the port by default"
This causes servers such as Sinatra to report the port as being "80" even when it's not. If you manually set the 'Host' header with the "with_headers" method (so that it includes the port), Sinatra reports the request URL correctly, e.g. via request.url.

[2014-08-05 03:59] #150 closed, assigned to nobody

[2014-08-05 04:10] #149 closed, assigned to nobody

[2014-08-17 04:26] JuanitoFatas opened #152 "HTTP basic auth convert response body to string is hanging"
Hello!

I am doing a basic auth, when I get the response body back. And convert to string. It hangs.

`HTTP.auth(:basic, authenticate_params).get(FEED_URL)`

returns

[code]

And `HTTP.auth(:basic, authenticate_params).get(FEED_URL).body`

returns

[code]

And

`HTTP.auth(:basic, authenticate_params).get(FEED_URL).body.to_s`

Hangs at `to_s`.

Any advices? Thank you!

The relevant code, please see

[2014-09-01 09:52] fables-tales opened #157 ".to_s never returns if Content-Length is wrong and or null."
Some HTTP responses are badly formed, and will never have any more content in-spite of their Content-Length headers being null/wrong. Should the HTTP Gem deal with this case somehow?

[2014-09-15 23:34] #157 closed, assigned to nobody

[2014-10-02 21:50] ghost opened #160 "timeout"
Is there a timeout option available?
thank you

[2014-10-09 11:15] bbozo opened #161 "HTTPS support when used with Celluloid::IO"
Trying to connect to a https url with Celluloid::IO using the example https://github.com/tarcieri/http/blob/master/examples/parallel_requests_with_celluloid.rb results with

[code]

[2014-10-09 11:21] #161 closed, assigned to nobody

[2014-10-26 21:41] epitron opened #162 "README contains non-existent method (HTTP.basic_auth)"
Hey!

Just a heads up that [this section](https://github.com/tarcieri/http#authorization-header) of the README shows a no-longer-existent method call as the first example: `HTTP.basic_auth(:user => 'user', :pass => 'pass')`

[2014-10-26 22:05] #162 closed, assigned to nobody

[2014-11-06 00:21] blanchma opened #164 "HTTP.get always returns body"
2.0.0-p247 :012 > HTTP.get("http://www.google.com")

 => "&amp;lt;HTML&amp;gt;&amp;lt;HEAD&gt;&amp;lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html;charset=utf-8&quot;&amp;gt;\n&amp;lt;TITLE&amp;gt;302 Moved&amp;lt;/TITLE&amp;gt;&amp;lt;/HEAD&gt;&amp;lt;BODY&amp;gt;\n&lt;H1&gt;302 Moved&lt;/H1&gt;\nThe document has moved\n&lt;A &gt;here&lt;/A&gt;.\r\n&amp;lt;/BODY&amp;gt;&amp;lt

[2014-11-06 00:22] #164 closed, assigned to nobody

[2014-11-06 16:25] blanchma opened #165 "Errno::EMFILE: Too many open files - pipe"
Case:
Running several times a class which do http requests:

class SmsService
include Celluloid::IO

def initialize
...
end

def deliver
response = HaHelper::HTTP.get(url, ssl_socket_class: Celluloid::IO::SSLSocket).to_s
end
end

Environment:
rvm use 1.9.3-p484

celluloid (0.16.0)
celluloid-io (0.16.1)
http (0.6.2)
Stacktrace:

Celluloid::PoolManager: async call perform aborted!
Errno::EMFILE: Too

[2014-12-15 18:40] #73 closed, assigned to ixti

[2014-12-18 13:45] #165 closed, assigned to nobody

[2014-12-29 19:35] tejasmanohar opened #168 "User Agent"
How to set user agent?

[2014-12-29 19:41] tejasmanohar opened #169 "result location?"
How can I check the location I'm at after submitting request? With Net/HTTP, I can do response['location'] to get URL...

[2014-12-29 21:27] #169 closed, assigned to nobody

[2014-12-29 21:33] #168 closed, assigned to nobody

[2015-01-02 18:17] tarcieri opened #171 "Move http.rb and form_data under a GitHub organization?"
Would that make sense? Just a suggestion.

"httprb" perhaps?

[2015-01-02 18:20] ixti commented on #171
:+1: from me

[2015-01-02 18:39] tarcieri commented on #171
b00m

[2015-01-02 18:39] #171 closed

[2015-01-02 20:12] Asmod4n commented on #77
Could someone else take https://github.com/Asmod4n/http/compare/caching over? I am afraid i don't use http.rb anymore and haven't found fixes for some pitfalls for caching (attackers can allocate any amount of ram they want with certain conditions).

[2015-01-02 20:22] ixti commented on #77
@Asmod4n I don't think I will be able to jump anytime soon on this issue, but I would like to keep it open if anybody would like to jump on. I have merged your `caching` branch of your repo into `wip/caching-support` on this repo.

[2015-01-02 20:25] Asmod4n commented on #77
@ixti thanks a lot, i will try to take a look at it after i have read the new HTTP rfcs regarding caching.

[2015-01-03 02:48] ixti opened #172 "Code style changes"
- Switch access modifier enforce style to indent (outdent right now)
- Switch from single quotes to double quotes

@sferik if you don't have objections I would like to make the changes from above. I know that it's your personal flavor (outdent access modifiers and single quotes), so would like to get your permission to switch to my personal flavour (indent access modifiers and double quotes). :D

[2015-01-04 15:23] sferik commented on #172
No objections from me. I care more about enforcing consistency than any particular coding style. I’m starting to favor double-quotes in my projects as I write more [Crystal](http://crystal-lang.org/).

[2015-01-04 15:26] #172 closed

[2015-01-04 18:52] ixti commented on #172
Awesome! Thank you! :heart:

[2015-01-04 18:55] tarcieri commented on #172
:thumbsup:

[2015-01-13 01:11] angelacode opened #174 "how would I support the following auth, headers, and body?"
curl -v \
     -X POST \
     -u admin:password \
     -H 'Content-Type: application/json' \
     -H 'X-Killbill-CreatedBy: admin' \
     -d '{"apiKey": "bob", "apiSecret": "lazar"}' \
     "http://127.0.0.1:8080/1.0/kb/tenants"

[2015-01-13 01:48] ixti commented on #174
[code]
On 13 Jan 2015 02:11, "angelacode" <notifications@github.com> wrote:

[2015-01-13 01:54] angelacode commented on #174
where is the 'u' added?  just in the URL?

[2015-01-13 01:55] angelacode commented on #174
answers I go:

[code]

[2015-01-13 01:56] ixti commented on #174
[code]

[2015-01-13 01:56] ixti commented on #174
Sorry - first replied from mobile, then saw how it looks - and got to laptop to fix it... :D

[2015-01-13 01:58] ixti commented on #174
I'm not sure what `-u` of curl means. If it's Basic auth, then instead of putting it into URL, you can call `#basic_auth` on client:

[code]

[2015-01-13 01:58] #174 closed

[2015-01-13 01:59] angelacode commented on #174
I get an error: HTTP::RequestError: invalid transfer encoding

[2015-01-13 02:00] tarcieri commented on #174
@angelacode in the future, would you mind asking these sorts of questions on the Google Group?

https://groups.google.com/forum/#!forum/httprb

We like to keep the issue tracker reserved specifically for bugs.

[2015-01-13 02:02] ixti commented on #174
@angelacode Are you passing body as a String? Or is it a Hash? If it's a Hash you need to encode it with JSON:

[code]

[2015-01-13 02:12] angelacode commented on #174
Hi, thanks would .to_json be fine, as well?

[2015-01-13 02:14] ixti commented on #174
@angelacode Sure. Anything that will return string actually ;))

[2015-01-16 02:16] paradox460 opened #175 "Robust multipart/related support?"
Apologies if this already exists, but I haven't found any references to it.

----
Sometimes one needs to send data via `multipart/related`. This, so far, has been a huge pain in the ass, with almost every other ruby HTTP solution.

Comparatively, other libraries, such as Node.js' [request](https://github.com/request/request) make it [downright simple](https://github.com/request/request#multipartre

[2015-01-16 12:47] ixti commented on #175
That's not exists yet. We only support `multipart/form-data`.

[2015-01-16 12:51] ixti commented on #175
In any case this issue related to https://github.com/httprb/form_data.rb rather than HTTP gem itself :D

[2015-01-17 04:51] paradox460 commented on #175
Awesome, thanks, I'll go see about it there.

Also, really nice to see how this has evolved since you first posted it on reddit. It now can basically replace Typhoeus in my workflows

[2015-01-19 00:12] ixti commented on #175
Closing in favor or httprb/form_data.rb#1 :D

[2015-01-19 00:12] #175 closed

[2015-02-21 02:26] kamui commented on #165
I'm having a similar problem here. I'm using http.rb with celluloid-io in Rails (with unicorn) and the file descriptors don't seem to free until I end the unicorn process. Each request just creates new ones and the number of file descriptors only accumulates until I read my limit.

[2015-02-21 04:28] kamui commented on #165
Nevermind, I figured it out. I read the celluloid docs and added calls to `#terminate` on each actor was done. Without terminate each actor it would just create new actors and not clean up old ones every time a new request came in.

[2015-03-26 04:13] untergeek opened #185 "Does http.rb support SSL proxies?"
I can't see evidence in the code I've perused, but thought to ask in case I missed it.

[2015-03-26 04:24] tarcieri commented on #185
It does not, although I think it's going to be added soon...

[2015-03-26 05:24] tarcieri commented on #185
Welp, here ya go: #186

Perhaps we should move the discussion over there...

[2015-03-26 05:24] #185 closed

[2015-03-27 14:07] sferik commented on #121
Resolved via https://github.com/httprb/http.rb/pull/184..

[2015-03-27 14:15] sferik commented on #121
Hmmm…trying to move this issue into the [v0.8.0 milestone](https://github.com/httprb/http.rb/milestones/v0.8.0) but I’m getting an error. Maybe it’s related to the denial of service GitHub was facing earlier today. Anyway, this feature should be released in v0.8.0.

[2015-03-27 14:15] #121 closed

[2015-03-27 14:17] sferik commented on #152
@JuanitoFatas Any update on this?

[2015-03-27 15:27] ixti commented on #77
Closed by #177 which is in master and was released as 0.8.0.pre

[2015-03-27 15:27] #77 closed

[2015-03-27 17:23] JuanitoFatas commented on #152
Just verify, now works like a charm. Thanks for the reminder.

[2015-03-27 17:23] #152 closed

[2015-03-27 18:37] sferik commented on #121
@tarcieri @ixti Are you able to change the milestone to v0.8.0?

[2015-03-27 18:48] sferik commented on #77
@ixti This issue should also be moved into the 0.8.0 milestone. Are you able to do that? I’m still getting an error.

[2015-03-27 18:50] tarcieri commented on #121
@sferik GitHub is giving me an error when I try to do that o_O

[2015-03-27 18:53] sferik commented on #152
:+1:

[2015-03-27 19:12] ixti commented on #77
@sferik  Same here.

[2015-03-27 19:16] ixti commented on #121
I found the workaround to assign milestones :D via issues index not from particular issue...

[2015-03-27 19:22] sferik commented on #121
@ixti :+1:

[2015-03-29 00:38] #160 closed

[2015-03-29 00:40] ixti commented on #113
@sferik I doubt we will be able to get this support on 0.8.0 :D I have moved this to 1.0.0, if we will be able to sneak this in 0.9.0 - awesome, if not - well, 1.0.0 still seems reasonable to me :D

[2015-03-29 00:42] tarcieri commented on #112
@ixti how are you feeling about this one for 0.8?

[2015-03-29 00:44] ixti commented on #112
@tarcieri will finish today/tomorrow.

[2015-03-29 00:45] ixti commented on #112
I mean - will be ready for 0.8

[2015-03-29 00:49] tarcieri commented on #112
Sweet

[2015-03-30 01:18] #112 closed

[2015-03-30 16:12] sferik commented on #113
I moved this into the [v0.9 milestone](https://github.com/httprb/http.rb/milestones/v0.9), since there isn’t much else in there, so I’m optimistic that this can be implemented ahead of the [v1.0 release](https://github.com/httprb/http.rb/milestones/v1.0). I see v0.9 as basically a pre-release of v1.0. In theory, we shouldn’t be making any breaking changes between v0.9 and v1.0.

[2015-03-30 21:47] jgr opened #196 "Dealing with non-ascii URIs (IRIs) in redirects"
I'm running into problems when getting a URI that happens to redirect to a URI with non-ascii characters in it (an [IRI](http://en.wikipedia.org/wiki/Internationalized_resource_identifier) from what I understand). A simple, repeatable case (in this case using http.rb 0.7.3 and Ruby 2.2.0) is:

[code]

Which results in this error:
[code]

From doing [a bit of googling](http://stackoverflow.com/ques

[2015-03-30 21:49] tarcieri commented on #196
Kinda sad this just doesn't work with stdlib `URI`.

I'm not opposed to using a gem if it has better handling of non-ASCII URIs.

[2015-03-30 22:58] ixti commented on #196
@tarcieri we can actually support Addressable when it's available. I mean do not depend on it directly, but provide different URI parser backends...

[2015-03-30 22:59] ixti commented on #196
Some kind of Multi-URI :D

[2015-03-30 23:24] ixti commented on #196
Oh, just realized (after reading mentioned SO thread), there's actually a solution:

[code]

[2015-03-31 13:45] eraserewind opened #198 "Wrong permissions on 0.7.3 gem"
Hi,

The permissions on the 0.7.3 release are wrong:

[code]

When requiring 'http' as an user, RuyGems raises "LoadError: cannot load such file -- http" because it cannot load the file due to permissions.

Reproduced on Debian Wheezy and FreeBSD 10.0-RELEASE, and Ruby 2.0 & Ruby 2.1

[2015-03-31 15:12] ixti commented on #198
Indeed. @tarcieri I'll re-release gem.

[2015-03-31 15:13] sferik commented on #198
@ixti Any idea how it got into that state? It appears that this is not just `http.rb` but all files in the gem.

[2015-03-31 15:19] sferik commented on #198
@ixti What exactly did you change? I don’t see any permissions changes in the [`0-7-stable` branch](https://github.com/httprb/http.rb/tree/0-7-stable). What can we do to ensure this doesn’t happen again?

[2015-03-31 15:20] ixti commented on #198
@eraserewind Thanks for the report, released gem with fixed perms as `0.7.4`.

[2015-03-31 15:20] ixti commented on #198
@sferik I have just repacked (re-released) gem. Seems like something on @tarcieri's end. `gem build` on his machine somehow produced gzipped tarball with wrong permissions.

[2015-03-31 15:21] #198 closed

[2015-03-31 15:22] tarcieri commented on #198
I'm guessing it probably had to do with the default umask of the laptop I did the release from

[2015-03-31 15:24] ixti commented on #198
@tarcieri most likely.

[2015-03-31 15:57] eraserewind commented on #198
Thanks guys! :smile_cat:

[2015-03-31 17:24] zanker commented on #113
I can't remember if this is extremely hard or extremely easy, I think the streaming makes it more annoying but I can double check on doing this quickly.

[2015-03-31 17:48] tarcieri commented on #113
It's pretty easy to do with `Zlib::Inflate`

[2015-03-31 18:05] zanker commented on #113
I thought it was supposed to be more annoying to stream but apparently I was wrong. Maybe I'm thinking of something else

/shrug

I'll take a look into it for 0.9 then

[2015-04-01 15:31] ixti opened #200 "Persistent connection API"
Right now basic usage looks like this:

[code]

After we have done all our calls we need to close underlying connections:

[code]

Also, if we try to call another host, e.g.:

[code]

It will fail (as expected by our design):

[code]

I propose to have different API design, that will provide 2 variants of usage. First one - is pretty simple:

[code]

Second, will provide a better API when you have

[2015-04-01 16:26] tarcieri commented on #200
The block form is cool, but I'm not sure I really understand the point of switching origins within the context of a persistent connection?

[2015-04-01 17:40] ixti commented on #200
Now, as you said, I don't know the reason as well. Probably no need, indeed.

[2015-04-01 17:56] #196 closed

[2015-04-02 00:53] ixti commented on #200
The questions is now only one. Should `.persistent` with block return persistent client or should it return last expression?

[2015-04-02 00:57] tarcieri commented on #200
APIs like `TCPSocket.open` return the last value evaluated. It also seems like the more useful thing to do

[2015-04-02 00:57] ixti commented on #200
My personal preference is -- last expressions response:

[code]

[2015-04-02 00:58] ixti commented on #200
@tarcieri you beat me to it! :D

[2015-04-02 02:21] #200 closed

[2015-04-02 15:37] pxlpnk opened #202 "Ruby 2.2 uninitialized constant HTTP::Timeout::PerOperation::Resolv (NameError)"
Using Ruby 2.2.{0,1} and http.rb results in the following error:

[code]

This can be reproduced by either using `require 'http'` in a script or directly in pry/irb.
It does not happen in Ruby 2.1

[2015-04-02 16:22] ixti commented on #202
Thanks for report!

[2015-04-02 16:35] ixti commented on #202
As a workaround you can explicitly `require "resolv"` before `require "http"`. I'm gonna cut a patch release soon though...

[2015-04-02 16:37] #202 closed

[2015-04-02 17:01] pxlpnk commented on #202
Great. Thank you very much. Great response time (:

Alexey Zapparov <notifications@github.com> wrote:

[2015-04-06 16:52] zuk opened #203 "8.1 breaks Celluloid::IO compatibility?"
The following code works in 7.x but seems to be broken in 8.1:

[code]

Running this under 8.1 gets me:

[code]

But under 7.2 it works as expected.

Am I doing something wrong or does the new timeout code break Celluloid::IO compatibility?

[2015-04-06 16:55] zuk commented on #203
By the way, I'm not sure how to set httprb to use a different timeout class. If I do the following, I still get the backtrace showing timeout/null.rb:

[code]

[2015-04-06 16:59] ixti commented on #203
@zanker seems like we have lost `if respond_to?` in cycles of refactoring: https://github.com/httprb/http.rb/blob/master/lib/http/timeout/null.rb#L29

[2015-04-06 17:02] tarcieri commented on #203
Yeah, I guess this was in the back of my mind but we never looped back on it.

I think it would be nice if there were a high-level API to wire everything (socket classes, timeouts) up for Celluloid::IO. Something like:

[code]

[2015-04-06 17:04] ixti commented on #203
@zuk Thanks for your report. Will release a patch in a moment.

[2015-04-06 17:05] ixti commented on #203
@tarcieri absolutely in love with `HTTP.backend(:celluloid)` proposal!

[2015-04-06 17:11] zuk commented on #203
I know this is a bit off topic, but any info on how to switch to a different timeout class (e.g. Global, or PerRequest)? Really having a hard time gleaning this from the recent commits.

[2015-04-06 17:15] ixti commented on #203
@zuk 0.8.2 with fix released. Your variant should work fine (it was failing due to the regression you noticed). So this one should work:

[code]

[2015-04-06 17:16] zuk commented on #203
Hate to say it but now getting the following error with 8.2:

[code]

[2015-04-06 17:17] ixti opened #204 "Provide high-level API to wire Celluloid::IO (socket classes, timeouts)"
See: https://github.com/httprb/http.rb/issues/203#issuecomment-90156883

[code]

[2015-04-06 17:18] tarcieri commented on #203
@zuk http.rb 0.8+ is going to need a separate timeout backend for `Celluloid::IO` before it will work correctly. Stick with 0.7 for now.

[2015-04-06 17:18] ixti opened #205 "Better timeouts API"
IMO it worth add a bit more simple way of timeouts configuration:

[code]

[2015-04-06 17:19] ixti commented on #203
Hm... I was testing example locally and it was just fine :((

[2015-04-06 17:35] zanker commented on #203
Ah yea, `sync_close` was missed. Although it looks like Celluloid is leaking SSL sockets since it should set that by default. So I also just enabled that option in Celluloid https://github.com/celluloid/celluloid-io/pull/135

[2015-04-06 17:36] zanker commented on #205
I would keep the ability to set a class, because it let's people write their own still. Although something that's maybe symbol or class would work.

And yea sorry, this slipped my mind. Realized it later when Tony brought it up.

[2015-04-06 17:48] tarcieri commented on #205
I think I'd like to prefer the proliferation of `#with_*` prefixed things. I kind of regret introducing that convention in the first place.

I'd suggest `HTTP.timeout`

[2015-04-06 17:54] ixti commented on #205
Both points make sense to me, so I guess it can be something like (pseudo code):

[code]

[2015-04-07 10:31] benlovell opened #206 "Subtle issue with normalizing URIs"
Since 81509bc we've had issues with using this gem to communicate with elasticsearch. It seems that prior to this change, the request URI was being normalized correctly and thus not including the scheme and host segment. As is evidenced below:

![screen shot 2015-04-07 at 11 25 17](https://cloud.githubusercontent.com/assets/41963/7021404/05c4417c-dd19-11e4-9766-a86a9a587b61.png)

And after 81509bc

[2015-04-07 11:30] ixti commented on #206
Thanks for report. My bad. Will fix today.

[2015-04-07 11:51] ixti commented on #206
It should not send `schema://hostname` inside `METHOD ...` line.

[2015-04-07 11:53] ixti commented on #206
Actually I have misunderstood original code and wiped out things that were essential. Will provide a fix ASAP.

[2015-04-07 11:59] ixti opened #207 "Mark all `with_` setters as deprecated"
They should be completely gone upon `1.0.0` release.

[2015-04-07 12:00] ixti opened #208 "Remove all deprecations"

[2015-04-07 13:19] #206 closed

[2015-04-07 13:20] ixti commented on #206
Released as `0.8.3`.

[2015-04-07 13:54] benlovell commented on #206
:heart:

[2015-04-12 22:52] #207 closed

[2015-04-12 23:02] ixti commented on #204
I dislike name of the method actually, and propose to name it `celluloid` :D

[code]

[2015-04-12 23:32] ixti opened #209 "Add support for events."
Proposed API:

[code]

With proper architecture, IMO it will become possible to extract timeouts out of connection/client completely.

[2015-04-12 23:35] zanker commented on #209
Timeouts requires you have direct access to socket write and reads. You can't do that with an API.

I'm not sure I see an advantage to this. Celluloid already lets you do the async bits. Seems like unneeded abstraction.

Sent from my iPhone

[2015-04-12 23:38] tarcieri commented on #209
@zanker this kind of API can be useful for people writing things like testing frameworks who want to instrument clients for various purposes. Right now they're using monkeypatches.

See this discussion:

https://groups.google.com/forum/#!topic/httprb/ISln457aPUc

[2015-04-12 23:49] ixti commented on #209
What comes to VCR support (from ML) actually that can't be done without monkey patching anyway :D And it's already done (webmock backend for VCR). I was mostly thinking about kind of a way to "monitor" progress. Like log requests and timings, probably sending "halt" to client on some events...

[2015-04-13 00:05] tarcieri commented on #209
It'd be nice to have something like `Reel::Spy` in http.rb:

https://github.com/celluloid/reel/wiki/Spy

A system like this would make it easy to implement.

[2015-04-14 09:34] sferik commented on #204
For what it’s worth, I prefer your original suggestion. Hard-coding Celluloid configuration to a top-level method name limits the extensibility of this library.

[2015-04-14 14:39] ixti commented on #204
@sferik `#backend` was actually Tony's proposal :)) I was thinking about sortening that to `#use` or `#with`, but after thinking on exisitng chainable API  though that adding `#celluloid` into `Chainable` module will be a good idea.

Anyway, I agree that hard-coding celluloid config as a top-level method is not a good idea after all.

[2015-04-14 15:28] sferik commented on #204
:+1: for `#use` or `#width`. My biggest objection to hardcoding `#celluloid` is that it wouldn’t be easily extensible to alternate configurations without monkey patching the `HTTP` object, which could result in method name collisions.

[2015-04-14 15:32] sferik commented on #204
:-1: for `#with`, since that used to be an alias for `#with_headers`. IMHO, changing the API in this way would create confusion.

[2015-04-14 15:48] tarcieri commented on #204
`#use` seems good to me

[2015-04-14 16:00] zanker commented on #204
+1 on use, can we deprecate the old Api in 1.0 too? Could make config a lot easier

Sent from my iPhone

[2015-04-14 22:08] ixti commented on #204
I would like not to deprecate but completely drop out any things we want to deprecate. :D

[2015-04-16 08:46] cryo28 opened #211 "Invalid urlencoding of "=" symbol in request parameters"
httprb 0.8.3

[code]

[code]

I expected the first line of HTTP request to be ```GET /path?param1=%3D HTTP/1.1```.

One more example:

[code]

[code]

whereas it should have been:

[code]

[2015-04-16 08:57] ixti commented on #211
Thanks for your report. Will fix it shortly.
On 16 Apr 2015 10:47, "Artem Ignatyev" <notifications@github.com> wrote:

[2015-04-17 00:20] ixti opened #212 "WebMock integration is broken"
When WebMock used (particulary VCR), first, not yet, recorded request fails with:

[code]

[2015-04-17 16:36] Igorpollo opened #213 "Invalid transfer enconding"
Hello,
I'm having the error "Invalid transfer enconding" when trying to send a XML in this code:
[code]

[2015-04-17 17:08] ixti commented on #213
First of all you are sending pretty strange headers. Most likely you want to do following:

[code]

If you want to also instruct remote server that you expect XML response, then:

[code]

So, to outline couple of issues with your snippet:

- wrong headers
- `:body` should be a String

[2015-04-17 18:00] Igorpollo commented on #213
Thanks...
One more question pls?
How can I do this type off authentication:

'Authorization: Basic BASE64(MOIP_API_TOKEN:MOIP_API_KEY)'
Sorry I'm noob. Thanks

[2015-04-17 18:08] ixti commented on #213
If it's a bseic authorization then you can do that like this:

[code]

If you need a more "manual" control, then:

[code]

[2015-04-26 18:51] #213 closed

[2015-04-26 20:07] ixti commented on #211
Sorry to mislead you. But after going through description of issue again, I don't find it to be a bug.
Unless I misunderstand something, that's correct behavior and `=` should not be encoded. [RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.4) does not says anything about that at all.

Also query string parsers recognize that as expected:

#### Ruby

[code]

#### Python 3

[code]

#### Go

[2015-04-26 20:10] ixti commented on #211
If you still think it's a bug and have strong arguments, I'm all ears.

[2015-04-26 20:10] #211 closed

[2015-04-27 14:25] ixti opened #214 "Wipe timeout support out"
@zanker, in face of switching socket related stuff to [socketry](https://github.com/zanker/socketry), I propose to wipe out timeouts support. That will auto-magically resolve #203 and will bring timeouts support and better celluloid integration once we finally switch to socketry. #210 becomes obsolete as well.

[2015-04-27 16:10] zanker commented on #214
It definitely should not be removed. For us personally, timeout support is critical, but in general a HTTP client is kind of a lot less useful if you can't control timeouts.

I do want to switch it to Socketry when that's ready, but it's not yet :(

[2015-04-27 17:31] ixti commented on #214
Got your point. Agree on timeouts. Just wanted to see celluloid support fixed again :D

[2015-04-27 17:31] #214 closed

[2015-04-27 17:42] ixti commented on #209
Proposed API:

[code]

[2015-05-06 16:21] #205 closed

[2015-05-08 17:05] zanker commented on #203
Sorry got a bit busy. Http.rb will work with Celluloid, as long as you don't use timeouts. The null timeout backend should work fine with Celluloid, since the `sync_close=` fix was made in Http.rb. It'll be fixed in Celluloid::IO whenever they tag a new version.

https://github.com/httprb/http.rb/pull/216

[2015-05-08 17:13] #203 closed

[2015-05-08 17:28] ixti commented on #203
:+1:

[2015-05-08 19:32] ixti opened #217 "Using proxy hangs..."
[code]

hangs for some time and then fails with:

[code]

See original description: https://github.com/httprb/http.rb/pull/186#issuecomment-100322375

[2015-05-09 08:51] #217 closed

[2015-05-11 00:30] ixti opened #220 "Add support for cookies"
We need at least basic-level support for reading/writing cookies, becasue manual setting/parseing `Set-Cookie` headers seems not that fun and "simple"... :D

[2015-05-11 00:38] ixti commented on #220
@httprb/owners any suggestions on underlying Set-Cookie parser? Do we want to implement our own lightweight one or use some exisitng (if so - which one)?

[2015-05-11 00:57] tarcieri commented on #220
Any reason why we can't just use `CGI::Cookie.parse`?

[2015-05-11 01:00] tarcieri commented on #220
Some googling turns up this library, which seems fairly mature, and even fits into our existing naming convention:

https://github.com/sparklemotion/http-cookie

[2015-05-11 14:53] ixti opened #222 "Refactor Options"
Right now HTTP::Options looks really terrible.

[2015-05-11 14:54] ixti opened #223 "Refactor cache support"
Existing implementation has couple of issues:
- dependency on rack-cache
- restored response loses `uri`

[2015-05-11 16:29] ixti opened #224 "Determine string encoding based on Content-Type"
See discussion: https://github.com/httprb/http.rb/commit/1ab394f06da8b0ce5b9e26b21e07460351677277#commitcomment-11136186

[2015-05-11 17:08] Connorhd commented on #224
I did look into this briefly (before realizing it was more complicated than a quick fix). Couple of things I found https://github.com/mime-types/ruby-mime-types/ has a `binary?` method on mimetypes that could be useful. And https://github.com/jmhodges/rchardet exists to detect character encoding the same way browsers do.

[2015-05-11 23:57] tarcieri commented on #223
I would love to get rid of the rack-cache dependency

[2015-05-11 23:57] tarcieri commented on #222
:cry:

[2015-05-12 16:15] aronchick opened #225 "Celluloid Timeout Support"
I know that current Celluloid Timeouts are currently not supported, but is there an interim workaround?

Here's the code I'd _like_ to run:
[code]

Its goal is to test a server as being live and healthy.

[2015-05-12 19:04] zanker commented on #225
Set `options = options.merge(socket_class: Celluloid::IO::TCPSocket, timeout_class: HTTP::Timeout::Null)` should work, as it bypasses the timeout code.

[2015-05-12 19:48] aronchick commented on #225
Interesting! Can we call that with different values?

On Tue, May 12, 2015 at 12:04 PM, Zachary Anker <notifications@github.com>
wrote:

[2015-05-12 21:35] zanker commented on #225
Which part with different values? Not quite sure what you mean.

[2015-05-12 21:37] aronchick commented on #225
Sorry, I was hoping to have the ability to set a timeout at 1s for some
requests, and 20s for other requests. Is that variable?

On Tue, May 12, 2015 at 2:35 PM, Zachary Anker <notifications@github.com>
wrote:

[2015-05-12 21:40] zanker commented on #225
If you aren't using Celluloid IO, you can change it to whatever you want, but we don't support timeouts when using Celluloid IO right now.

[2015-05-12 21:46] aronchick commented on #225
I guess that's my issue - I'm using Celluloid IO - is there an alternative
for Timeouts?

On Tue, May 12, 2015 at 2:40 PM, Zachary Anker <notifications@github.com>
wrote:

[2015-05-12 22:30] zanker commented on #225
I'm not familiar enough with Celluloid IO to offer a suggestion, sorry.

[2015-05-13 06:14] aronchick opened #226 "DNS failing when all the rest of the system seems to report it fine?"
I'm doing a simple get is my code which uses the internal DNS server for my system - it looks like this:

[code]

When I execute this, I get "no such domain" for the first one. However, it definitely exists in my system - I can ping "client", I can curl "http://client" and when I go into Pry, and execute this, it works fine. Can you think of any reason that the way I'm executing it above would cau

[2015-05-13 06:21] zanker commented on #226
Does this work with just Celluloid or Http.rb without Celluloid IO?

Celluloid IO has some custom DNS code and it's more likely an issue in that then Http.rb.

Sent from my iPhone

[2015-05-13 07:04] tarcieri commented on #226
The given example isn't configuring http.rb to use the Celluloid backend, so it should be using the system DNS resolver. Specifically, DNS will be resolved here:

https://github.com/httprb/http.rb/blob/master/lib/http/connection.rb#L31

Per that example, it should be using `::TCPSocket.connect`.

@aronchick have you tried reproducing this issue with `::TCPSocket.connect`? Alternatively you might t

[2015-05-13 13:44] aronchick commented on #226
So do you mean start with TCPConnect, and go from there? I actually have my real code closer to that example, I just stripped it down to repro here.

[2015-05-13 14:02] aronchick commented on #226
Ah, I understand what you mean, but no joy. Here's what the sample method looks like now:

[code]

Here's the output:

[code]

[2015-05-13 14:15] aronchick commented on #226
One more datapoint, I removed Celluloid::IO entirely as well as the pooling, and am now calling it directly, and it's still doing the same thing.

[2015-05-13 14:46] tarcieri commented on #226
@aronchick yes, that's entirely expected as you aren't touching any Celluloid::IO codepaths. http.rb is using the native DNS resolution of whatever Ruby VM you're using.

Can you please tell us:

1) What Ruby VM you're using? (i.e. `ruby -v`)
2) What OS you're using?

After that, you should take the issue up with the Ruby VM in question as this is not an http.rb issue.

[2015-05-13 14:46] #226 closed

[2015-05-13 15:03] aronchick commented on #226
The reason I thought it was associated with celluloid/http.rb was this same method (slightly altered to handle callbacks) worked fine when I was using em-http-client and moved over due to their lack of up keep.

I'm using ruby 2.1.

[2015-05-13 17:23] aronchick commented on #226
This appears to be an Celluloid::IO issue. After hacking away down to a minimum set of reproable steps, here's the issue:

***Without Celluloid::IO::TCPSocket:***

Code:
[code]

Testing:

[code]

***_Without_ Celluloid::IO::TCPSocket:***

Code:
[code]

Testing:

[code]

[2015-05-13 20:31] aronchick commented on #226
I'll move this over to Celluloid::IO since it seems pretty clearly in their camp.

[2015-05-14 12:16] nrbrookes opened #228 "HTTPS and Celluloid::IO - post_connection_check"
[code]

Gives...

[code]

[2015-05-14 12:54] tarcieri commented on #228
You need Celluloid::IO master for this to work

On Thursday, May 14, 2015, nrbrookes <notifications@github.com> wrote:

--
Tony Arcieri

[2015-05-14 14:56] nrbrookes commented on #228
Helpful, thank you.

[2015-05-14 14:56] #228 closed

[2015-05-23 05:23] tarcieri opened #230 "Tests don't pass consistently"
Would be nice if we had a strategy here, perhaps:

1. Tests that don't pass consistently get flagged as such (i.e. pending), perhaps on a VM by VM basis (i.e. JRuby)
2. Perhaps use e.g. rspec-retry?

It would be nice if there were no transient test failures

[2015-05-24 05:24] zanker commented on #230
What are the failures? I think it depends on what they are mostly since that can affect whether it's easy to fix or not.

[2015-05-24 17:00] tarcieri commented on #230
https://travis-ci.org/httprb/http.rb/builds

They're all on JRuby, e.g.:

https://travis-ci.org/httprb/http.rb/jobs/62103206

[code]

https://travis-ci.org/httprb/http.rb/jobs/63726652

[code]

https://travis-ci.org/httprb/http.rb/jobs/63730552

[code]

[2015-05-24 22:17] #220 closed

[2015-05-24 22:17] ixti commented on #220
That was resolved as of 0.8.9/0.8.10

[2015-05-25 11:27] JikkuJose opened #231 "Testing with mock requests"
Is there something like webmock that supports http.rb?

[2015-05-25 16:16] zanker commented on #231
Webmock supports http.rb, but you need to be using the latest Webmock.

Sent from my iPhone

[2015-05-25 19:37] #231 closed

[2015-05-25 19:37] tarcieri commented on #231
@JikkuJose in the future, can you ask questions like this on the mailing list? The issue tracker is for bugs

[2015-05-26 04:59] JikkuJose commented on #231
Sure, I will do. I am sorry to have posted in there.

On 26 May 2015 at 01:07, Tony Arcieri <notifications@github.com> wrote:

[2015-05-27 10:56] ytaras opened #232 "Celluloid:IO sample fails on rubinius 2.5.5"
Hello, guys.

I'm trying to use http.rb on RBX with Celluloid:IO and I tried default sample, but failed. Here's what I do:

[code]

Now if I run the script - it fails with following stack trace:

[code]

[2015-05-31 02:38] tarcieri commented on #230
This was "fixed" in #233, but the root cause is probably worth revisiting.

[2015-05-31 02:38] #230 closed

[2015-06-30 20:51] JeanMertz commented on #223
Would *getting rid of rack-cache* mean no built-in caching implementation, or will some other built-in caching replace it?

[2015-06-30 21:05] tarcieri commented on #223
I assume since the topic is "Refactor cache support" and not "Remove cache support" it'd be the latter

[2015-07-18 19:53] sshaw opened #238 "Request/Response Logging Possible?"
Had a quick look at the source and it looks like this is only done at the cache, but does not show the bodies. Is it really not possible to log?

Thanks

[2015-07-18 20:39] tarcieri commented on #238
In the past I've said it might be nice to add something like `Reel::Spy`:

https://github.com/celluloid/reel/wiki/Spy
https://github.com/celluloid/reel/blob/master/lib/reel/spy.rb

[2015-07-18 23:24] ixti commented on #238
Related issue: #209

[2015-07-21 15:05] headius opened #239 "Delegation issues in HTTP::Request::Caching"
While investigating jruby/jruby#3151, a few issues with the way `Caching` does delegation came to light:

* At least one place, in `conditional_on_changes_to`, an `HTTP::Request` object gets double-delegated. Both the `self.class.new` and `.caching` calls wrap the new `HTTP::Request` object in a delegating `Caching` instance.
* The `Caching` class itself is created before `HTTP::Request` has compl

[2015-07-21 18:14] tarcieri commented on #239
I'm not really happy with the quality of the caching code. It's caused a lot of sporadic test failures. Having a dependency on rack isn't really something I like either.

Perhaps we could remove it and add it back when/if it's in a better state?

[2015-07-21 19:59] zanker commented on #239
I agree with removing the code until something better is done.

[2015-07-21 22:09] ixti commented on #239
:+1: for wiping it out.

[2015-07-22 03:42] tarcieri commented on #239
Created #240 to revert caching

[2015-07-22 17:32] #239 closed

[2015-07-23 17:57] pezra commented on #209
Would either of the proposed APsI allow modification of the request flow. Ie, could an `on(:request)` bypass the actual HTTP request in favor of a cached response instead? Allowing a "spy" to do that seems a little unintuitive but maybe not out of the question.

[2015-07-24 03:38] tarcieri opened #241 "Rebrand again? 😢"
I continue to receive reports from people who are confused because they try to install the "http.rb" gem which is, in fact, a completely different gem:

https://github.com/thoran/HTTP/issues/1

I've contacted the author to see if he's willing to give up the gem name. It has 1 star and ~400 downloads, all of which are probably confused people trying to install this library. It seems he is unwilling

[2015-07-24 05:47] tarcieri commented on #241
As a prospective gem name, I just registered `hypr`:

https://rubygems.org/gems/hypr

`s/HTTP/Hypr/` doesn't seem too hard? Plus at only 433,000 Google results, it seems to stand a better chance of Googlability. http.rb, by comparison, has 62,500,000

[2015-07-24 14:44] ixti commented on #241
I don't mind. I like our current name in fact - never understood names with `.lang` suffix in fact. I thought you were changing only repo's name and didn't thought that you want to change gem name too :D

But `Hypr` seems pretty nice name. Though there's `hyper` gem - but it's not HTTP client. :D
Though we should count that we have HTTP namespacing for form data for example, which twitter gem rely

[2015-07-24 16:01] zanker commented on #241
I'm for rebranding, just because http.rb is kind of generic and googling "http.rb" mostly brings up HTTP, Ruby code rather than http.rb (except for the first result).

Hypr is fine with me, I'm terrible at names :P

[2015-07-24 17:13] indirect commented on #241
I really like `'http'` and `HTTP`, since I can actually remember both the name and the API without any effort (utterly unlike net/http). Since the other guy chose to release after this gem, can we just take the `.rb` off of this gem's repo to remove the confusion? (I mean, I also don't have to keep explaining to confused people, so I'm not sure how much my vote counts.)

[2015-07-24 17:15] tarcieri commented on #241
@indirect that's actually what it used to be called, and I changed it to "http.rb" because the old name was ungooglable

[2015-07-24 17:16] indirect commented on #241
"The http gem"? :/ It sucks that it's ungoogleable, though. Maybe I could bribe you into continuing to release Hypr as HTTP by putting both in the release script with a gsub? :P

[2015-07-24 17:17] tarcieri commented on #241
That was actually how I tried branding it to improve the Googlability prior to changing the name to http.rb

[2015-07-24 18:14] tarcieri commented on #241
@indirect could have a shim that does something like this:

[code]

:wink:

[2015-07-24 18:20] zanker opened #242 "Drop 1.9 support"
@tarcieri @sferik @ixti

With JRuby 9.0.0.0, we now have a path forward on using Ruby 2.0+ syntax/code. Given MRI 1.9.3 is EOLd, I think we should drop support for MRI 1.9/JRuby 1.7. It lets us clean up code by using 2.0 syntax/features too.

[2015-07-24 18:21] tarcieri commented on #242
+1

[2015-07-24 22:39] ixti commented on #241
@tarcieri

Or:

[code]

:D

[2015-07-25 00:41] ixti commented on #242
+1

[2015-07-25 02:46] tarcieri commented on #242
@sferik what are you plans for continued 1.9 support in the twitter gem?

[2015-07-25 02:46] tarcieri commented on #241
@sferik how do you feel about this?

[2015-07-25 11:31] sferik commented on #242
Currently, the `master` branch still [promises to support](https://github.com/sferik/twitter#supported-ruby-versions) Ruby 1.9.3. This branch will eventually be released as version 6.0.0 and has been in development since November of last year (before Ruby 1.9.3 was EOL’d in February of this year). Since the next release will be a major version anyway, I could take that opportunity to drop Ruby 1.9

[2015-07-25 12:31] sferik commented on #241
I agree, the confusion caused by the gem name not matching the repo name is a problem.

There are three possible solutions:
1. Change the gem to `http.rb`.
2. Change the repo name (back) to `http`.
3. Change both the gem name and the repo name.

Number 1 is currently blocked by @thoran.

Number 2 may be undesirable for SEO reasons. That said, I’d be curious to see more data about whether this is a

[2015-07-25 19:50] indirect commented on #241
Everything Erik said.

On Sat, Jul 25, 2015 at 5:31 AM, Erik Michaels-Ober
<notifications@github.com> wrote:

[2015-07-26 17:47] tarcieri commented on #241
Well, with no real consensus, I think I'll just leave things as-is for now and keep hoping I can get @thoran to politely give up the `http.rb` name

[2015-07-26 18:04] ixti commented on #241
/me would like to stick with @sferik's #2 option :D

[2015-07-26 18:09] tarcieri commented on #241
Ok, I can do that. Github should redirect

[2015-07-26 18:18] tarcieri commented on #241
Renamed the repo again, and Github is redirecting

[2015-07-27 07:19] aeden opened #243 "Uninitialized constant Timeout (NameError)"
I am on Ruby 2.1.5.

I did this:

[code]

And got this stack trace:

[code]

To workaround the issue I added `require 'timeout'` to my calling code, but I wanted to report this as others might run into it.

[2015-07-27 15:47] ixti commented on #243
@aeden Thanks for report.

[2015-07-28 20:13] Senjai commented on #238
I had to do this manually with a monkeypatch to get some information while debugging. I would love to see a properly supported implimentation for this! :+1:

[2015-07-28 20:14] tarcieri commented on #209
@pezra it could. It doesn't have to be called "spy"

[2015-07-28 20:15] tarcieri commented on #238
Let's continue the discussion on #209

[2015-07-28 20:15] #238 closed

[2015-07-28 20:41] ixti commented on #209
@tarcieri if we are talking about events, then I don't see how it can modify workflow. I mean I would like to avoid (and I know you too) middleware alike architecture.

[2015-07-28 21:00] Senjai commented on #209
RE: logging, I probably wouldn't complicate it too much. I think hooks as extension points would be great, but they're not required to make logging better. Couldn't we just add a debug option on configuration and a logger class? If we choose to add hooks for extension, the logger could be registered as a default hook if the option is true.

Until that time, I think these could be two separate issu

[2015-07-28 21:01] Senjai commented on #209
@pezra I think hooks should be different from composition. Hooks should allow you to execute code when a thing occurs. But it should not block other code from running.

Instead it'd be nice to have a connection class, or request class or whatever that can be substituted in favor of a dummy request object via composition.

[2015-07-29 00:16] pezra commented on #209
@ixti, I agree that allowing an event handler to modify the flow send awkward.

@senjai, an option specify the connection class to use might be workable. Wild such a PR be accepted?

[2015-07-29 00:18] tarcieri commented on #209
@Senjai we already have `HTTP::Connection` and `HTTP::Request` classes

@pezra if it's not too invasive and doesn't involve weird delegators/proxy objects

[2015-08-13 19:34] thomas-holmes opened #246 "Not percent encoding colons in query parameters"
Colons in query parameters are not getting properly encoded. I ran into this while passing ISO8601 formatted timestamps in query strings with the twitter API.

While their [documentation](https://dev.twitter.com/oauth/overview/percent-encoding-parameters) does not specify needing to encode the colon for oauth signing, simple_oauth appears to (probably correctly, since the URI [specification](http:

[2015-08-13 22:43] ixti commented on #246
Fix was applied to 0-8-stable branch. Will try to fix tests (fails on travis but not locally and not related to fix itself) and will cut `0.8.13` release. Thanks for report.

[2015-08-13 22:53] tarcieri commented on #246
What about 0.9.0?

[2015-08-13 22:57] ixti commented on #246
@tarcieri Stupid me. By some reason I wanted to apply patch to 0.8.x and then add it to 0.9.x; Will apply patch to 0.9 now as specs will pass so it will become available as 0.9.1 release.

[2015-08-14 15:02] ixti commented on #246
0.9.1 and 0.8.13 fixes issue now.

[2015-08-14 15:15] thomas-holmes commented on #246
I am just testing this out now and I don't actually get encoded colons in my real web request.

[code]

[2015-08-17 23:37] thomas-holmes commented on #246
@ixti Thanks for the quick response. Have you seen my comment above?

[2015-08-18 22:07] ixti commented on #246
@thomas-holmes Sorry. Overlooked. Will check ASAP.

[2015-08-18 22:24] ixti commented on #246
Hm. Found the issue:

[code]

I remember I have added `normalize` for some reason. Something related to international support in path/domain. Will fix this issue. Again. Thanks for pinging me!

[2015-08-19 15:24] thomas-holmes commented on #246
Thanks again :)

[2015-08-19 16:07] #246 closed

[2015-08-19 17:10] ixti commented on #246
@thomas-holmes Please check with `0.8.14`. I have changed the way we normalize URIs in request so that:

- query part is not normalized anymore and kept as is. (this is most arguable part, but I think we are safe to keep it like this unless issues will arise with such behavior)
-  fragment part is not sent to server anymore

[2015-08-19 18:25] thomas-holmes commented on #246
@ixti It looks like it works for my use case! Thanks so much for your help :)

[2015-08-19 19:31] ixti commented on #246
@thomas-holmes thanks for report! :D

[2015-08-25 20:08] ixti commented on #241
I assume we can close this. :D

[2015-08-25 20:08] #241 closed

[2015-08-25 20:16] ixti opened #248 "Data read fails."
Example request that constantly fail with `EOFError`:

[code]

Failure happens after headers were read. Thus `to_s` is essential here.
Regression was introduced by: https://github.com/httprb/http/commit/65900ad36e2ec47b1e1c5dce2e801fdf21637a8b

[2015-08-25 20:25] ixti commented on #248
As far as I can see ruby can raise EOFError even if you passed `exception: false`, e.g.: https://github.com/ruby/ruby/blob/ruby_2_1/ext/openssl/lib/openssl/buffering.rb#L189

[2015-08-25 20:30] #243 closed

[2015-08-25 20:33] ixti opened #249 "Refactor timeouts and move them into separate gem"
Subj

[2015-08-25 20:55] zanker commented on #248
:|

[2015-08-25 20:56] zanker commented on #248
I'll fix it in http.rb but I want to get a PR into openssl too and actually fix it properly

[2015-08-25 21:12] zanker commented on #248
Actually wait no, that's not a regression from that commit, it's a regression from timeouts.

That openssl code looks like it could never actually trigger.

[2015-08-25 21:13] zanker commented on #249
I would disagree with this, just because timeouts are a core part of a HTTP library, and trying to separate them out is likely to make it even harder to test changes and keep things in sync.

[2015-08-25 21:25] tarcieri commented on #249
@zanker needs more socketry :open_mouth:

[2015-08-25 21:29] zanker commented on #249
So little time :(

[2015-08-25 22:24] ixti commented on #248
Well, probably I have pointed out wrong commit, indeed, it was just lack of that rescue block so I said so :D I could be wrong, indeed. Was also fixing that, but was slower on pushing the fix ;)) My patch looked (rejected in favor of your fix) like this:

[code]

[2015-08-25 22:24] #248 closed

[2015-09-03 22:16] zanker opened #251 "Responses with more than the buffer break"
If we get more than the buffer size of data (16,384), it appears HTTP freezes and just time outs rather than returning everything. It was easy enough to test with a server echoing what you sent it:

`HTTP.post("http://foobar.com", "A" * 17_000)` and it'll time out (when enabled). Need to dig into this more

[2015-09-06 23:59] Fryie opened #253 "ActiveSupport dependency is missing"
The gem seems to use ActiveSupport methods in some places, e.g. [here](https://github.com/httprb/http/blob/master/lib/http/request/writer.rb#L90). In order to be compatible with non-Rails projects, the dependency should be included and the appropriate libraries required where necessary (should be detailed [here](http://guides.rubyonrails.org/active_support_core_extensions.html)).

[2015-09-07 00:18] tarcieri commented on #253
That's a PR that just landed (#251). It's not intended for this gem to depend on ActiveSupport.

[2015-09-07 00:19] tarcieri commented on #253
@zanker are the tests actually exercising that case? I'm surprised they didn't break

[2015-09-07 00:22] tarcieri commented on #253
It looks like the `certificate_authority` gem pulls in `activesupport`. Perhaps we should get rid of it.

[2015-09-07 00:28] Fryie commented on #253
Oh, I see. In the meantime, I guess `!data.empty?` would fix the issue since it's probably always a string?

[2015-09-07 00:39] tarcieri commented on #253
PR here: https://github.com/httprb/http/pull/254

[2015-09-07 00:54] #253 closed

[2015-09-07 00:56] tarcieri commented on #251
Fixed in #251

[2015-09-07 00:56] #251 closed

[2015-09-07 00:57] tarcieri commented on #253
This is now released as 0.9.6

[2015-09-07 00:59] Fryie commented on #253
This must be some of the quickest feedback i've seen on a library. :) thanks.

[2015-09-07 01:13] tarcieri opened #256 "Release 1.0.0"
I know there are various issues tagged for a 1.0 release (#208 comes to mind) but perhaps we should evaluate which of those are actually necessary and get to 1.0 sooner than later.

[2015-09-07 01:24] zanker commented on #256
I'm neutral, what does releasing 1.0.0 vs 0.9.10? If people were not going to use the library without a stable version then that would make sense, but I'm not sure anyone really looks at that now. Such as Celluloid which 5 years later is still 0.x.x :stuck_out_tongue:

[2015-09-07 01:28] tarcieri commented on #256
The main thing would be an acceptance of semantic versioning in making API changes, but also an escape from the sort of perpetual "never 1.0" hell Celluloid is stuck in.

[2015-09-07 09:01] sferik commented on #256
The fact that the 0.9 release has had 6 patch releases in the past month (including two in the past day), makes me think that this library is not yet stable enough for a 1.0.0 release. In my experience, long periods (~6 months) of low-churn indicate that a library is stable enough for a 1.0.0 release. Releasing 1.0.0 prematurely can slow things down.

Much like @zanker, I don’t have any problem wi

[2015-09-07 17:52] tarcieri commented on #256
The endless search for a 1.0 that's sufficiently better than the present to justify being a 1.0 in a project that has gone years without a 1.0. That, and breaking API changes.

I just worry if you put "1.0" up on a pedestal of absolute perfection, there will never be a 1.0 release. I don't think 1.0 should really mean anything more than the API is stable. If it did, there'd never be a 1.0.1 :wink:

[2015-09-07 19:56] sferik commented on #256
To me, 1.0 doesn’t need to be sufficiently better than the previous release. In fact, I believe the opposite: ideally, a 1.0 release is nearly identical to the previous 0.x release.

[2015-09-08 02:56] tarcieri commented on #256
Hence my original concern of not making too many changes.

Outstanding deprecations (#208) aside, are there any breaking API changes people still want to make?

[2015-09-08 14:39] zanker commented on #256
I'm good with the API as-is, would rather we get deprecations handled in 1.0 but no issues with bumping to 1.0 after that.

[2015-09-08 17:56] ixti commented on #256
My vote is for holding off of `1.0` release. At least for now. I don't see any bad in releasing 0.10 and then 0.11 if needed. And then release 1.0 only once at least all clean-ups are finished (like options class and such).

[2015-09-08 20:23] tarcieri commented on #256
It'd be good to come to agreement about what cleanups are mandatory for 1.0, IMO.

[2015-09-08 20:33] zanker commented on #256
What's the cleanup needed for the options class? I see https://github.com/httprb/http/issues/222 which says refactor, but is that an API surface change or internal code.

I think we should sum up any breaking API changes, and make them in 1.0. Anything related to cleaning up code, can be done regardless of semantic version.

[2015-09-08 21:20] sferik commented on #256
Or we could be like Node and [jump straight to version 4.0.0](https://nodejs.org/en/blog/release/v4.0.0/)?

![clzq5fyweaamggc](https://cloud.githubusercontent.com/assets/10308/9747796/354fbf30-5680-11e5-993c-f9bdf1a748c3.jpg)

[2015-09-08 21:42] zanker commented on #256
Could go to 10,000 and beat JRuby

[2015-09-08 21:43] tarcieri commented on #256
I am not opposed to retroactively using [Tenver](http://tenver.org/)

[2015-09-08 22:14] sferik commented on #256
@tarcieri I think that’s what `rake` uses?

[2015-09-08 22:17] tarcieri commented on #256
@sferik sounds about right

[2015-09-09 04:36] tarcieri opened #257 "Support for disabling Nagle's algorithm (i.e. enabling TCP_NODELAY)"
[Nagle's algorithm](https://en.wikipedia.org/wiki/Nagle%27s_algorithm) is a great optimization for coalescing multiple, small writes until they fill a packet, unless the sender has already received a response.

Unfortunately, Nagle's algorithm has a pathological case: when the client performs two small writes, but the server's response depends on receiving both of them. In this case, Nagle is wait

[2015-09-10 16:59] michaelherold opened #259 "Nested URI params for GET requests not constructed properly"
Per @ixti's [request](https://groups.google.com/d/msg/httprb/g6pxli0tTyw/HyesRJCcAQAJ):

I'm using http.rb in a library and experiencing some unexpected behavior. Here's a spec of what I expected to happen (written for [client_spec.rb on master as of today](https://github.com/httprb/http/blob/7869ff2ba20d46ceec5e2f22058be3b74b433150/spec/lib/http/client_spec.rb)):

[code]

And its result:

[code]

[2015-09-10 18:34] tarcieri commented on #259
It looks like the main implementation of this is in ActiveSupport:

http://apidock.com/rails/ActiveSupport/CoreExtensions/Hash/to_query

I'm not really a big fan of pulling in ActiveSupport. I was reading that Addressable used to support this, but it got removed?

[2015-09-10 18:49] ixti commented on #259
I was going to add that as part of form data gem in fact.
Not gonna pull in ActiveSupport.

[2015-09-10 19:04] tarcieri commented on #259
Sounds good @ixti

[2015-10-31 00:19] tarcieri commented on #256
So I am seriously thinking about doing a 1.0.0 release and a lightning talk at RubyConf.

I know there are various things that people would like to "clean up" but that's always the case. They can get cleaned up in 2.0.0, which we can release whenever we want.

Unless there's strong opposition to releasing a 1.0.0, that's what I'd like to do.

[2015-10-31 00:26] zanker commented on #256
:+1:

[2015-11-01 00:43] ixti commented on #256
Totally agree. So it's :shipit: from me.

[2015-11-01 00:47] ixti commented on #256
I have moved ALL unresolved issues to milestone `v2.0.0`
If some of them will be resolved earlier - they will be moved to appropriate milestones (e.g. `v1.1.0` etc when it will make sense).

[2015-11-01 13:23] sferik commented on #256
:+1:

[2015-11-12 21:07] ook opened #263 "When using HTTP.persistent, cookies are not preserved"
Context:
I'm doing request against an site that attributes a cookie to keep a session. All requests are done with a `HTTP.persistent(HOST)` call.

Problem:
Each time I make a request, I get a new session cookie.

Expected behavior:
The session cookie doesn't change between two calls.

Here a gist let you test it: https://gist.github.com/ook/d054e3878376da4b40b6

[2015-11-12 22:42] oz commented on #263
This would be nice. :+1:

I found something similar today while using the redirector (`HTTP.follow.get("...")`): there is no option to *reuse* a cookie jar between a chain of redirects to the same domain (e.g. NY Times).

There's probably some shared behavior with persistent connections handling, but I'm not sure what the API should be. :sweat:

[2015-11-13 02:24] tarcieri commented on #256
Well, RubyConf is nearly upon us and it seems it's agreed to do this.

I think what might actually make sense is to release and announce a `1.0.0.pre` at RubyConf, and then actually do a little bit of work to fix a few things prior to an official 1.0 release.

#208 seems relevant.

[2015-11-13 02:26] tarcieri commented on #263
This seems useful. I am sticking it in the `2.0` milestone for now, but I could see it as a `1.1` feature

[2015-11-13 21:24] zanker commented on #256
I'd just tag a 1.0.0 and do any cleanup in a 2.0.0. Realistically versioning is pretty arbitrary and we can start using letters and it's still ok :P

[2015-11-13 21:58] tarcieri commented on #256
@zanker it'd be nice to get rid of the longstanding deprecations prior to release. I think I'll take a stab at that and spin a `.pre` and see if there's any notable breakages, then we can ship 1.0

[2015-11-15 18:14] tarcieri commented on #256
Well bad news, I caught a cold and don't really feel up to giving a talk :(

On Friday, November 13, 2015, Zachary Anker <notifications@github.com>
wrote:

--
Tony Arcieri

[2015-11-16 00:12] ixti commented on #263
`HTTP.persistent` is about persistent connection. It's not about session handling.
Having session management is pretty awesome idea, though. But it will be separate API call IMO.

@oz that's a good catch. But it's a separate issue.

[2015-11-16 00:15] ixti opened #264 "Following redirects drops cookies."
Reported by @oz: https://github.com/httprb/http/issues/263#issuecomment-156260388

Upon following redirects, redirector should send cookies that were sent in response.

[2015-11-16 00:17] ixti commented on #263
After filling an issue #264 I realized that actually these two are closely related.

[2015-11-16 01:02] ixti commented on #263
After thinking on this a little bit more, I realized that it's a bit more of work than I initially thought.
So, here's example code:

[code]

Tricky part is `#cookies(...)` call. Which returns new client.
Obviously it won't play nice with current logic of persistent connections.
That also brings me to another conclusion, we need to fix this defect anyway.
Consider following code:

[code]

So, most

[2015-11-16 01:48] tarcieri commented on #263
Yes, this can also be problematic in a lot of cases, like if you're using a connection pool shared across threads

[2015-11-16 01:50] tarcieri commented on #264
Note that this needs to be done carefully with respect to cookie domain scoping rules or it's a potential security vulnerability (e.g. in conjunction with an open redirect)

[2015-11-16 08:02] ook commented on #263
Why not having a `Cookie::Jar` instanciates in `Http.persistent`, just before yielding, and Response and Request instances passing that reference between each request (just by checking persistent context) ?

[2015-11-16 15:36] ixti commented on #264
Good catch. Bright side is that `Cookie::Jar` has that feature already ;)) So I'll just need to make sure to use it :D

[2015-11-16 15:39] ixti commented on #263
@ook all (more or less) `persistent` does is keeping connection open.
HTTP is stateless protocol. With that being said, you can for example have 2 different sessions within single connection:

[code]

In the above `admin.cookies` will hold cookies with (probably some session identifier) for admin user. And `user.cookies` will hold same for user.

In other words, `Cookie::Jar` does not belong neith

[2015-11-23 18:42] #208 closed

[2015-12-12 14:02] ixti opened #269 "Close connection in case of error."
Right now we close connection in client upon case of error only if client is persistent.
https://github.com/httprb/http/blob/master/lib/http/client.rb#L78

IMO that line should be just `close` without the guard.

@zanker @tarcieri thoughts?

[2015-12-12 14:06] ixti opened #270 "API for connection auto-close"
Sometimes I need to make a `GET` request, and terminate connection before receiving body, so I end up with having something like:

[code]

Sometimes I want to guarantee that connection is closed in case of error while I was streaming response... So, probably it worth to provide API like:

[code]

[2015-12-12 15:12] sferik commented on #270
:+1:

[2015-12-12 15:18] zanker commented on #270
SGs

Sent from my iPhone

[2015-12-12 15:21] zanker commented on #269
I have no idea why I made it only close persistent ones. :+1: on fixing.

Sent from my iPhone

[2015-12-12 17:00] sferik commented on #269
:+1:

[2015-12-12 19:05] tarcieri commented on #269
also :+1:

[2015-12-13 01:02] tarcieri commented on #270
:+1: :+1: :+1:

[2015-12-13 01:05] tarcieri commented on #270
@ixti can you tag these issues with a milestone (I just changed `v2.0.0` => `v1.1`) so I know if you want to get them into 1.0 or not or if you can wait?

I'd like to release 1.0 soon, and these sort of purely additive changes could go either way.

[2015-12-13 01:40] tarcieri commented on #222
Still feeling this way?

[2015-12-13 01:40] tarcieri commented on #223
I removed caching

[2015-12-13 01:42] tarcieri commented on #204
Celluloid support is effectively dropped in 1.0. It's something we can revive, but it requires work in the timeouts backend (which should probably be extracted into a [separate gem](https://github.com/zanker/socketry))

[2015-12-13 01:42] #204 closed

[2015-12-13 01:44] tarcieri commented on #232
Celluloid::IO is not going to be supported in 1.0. See #225

[2015-12-13 01:44] #232 closed

[2015-12-13 01:45] tarcieri commented on #242
Let's keep supporting 1.9 for in `1.x` releases and reopen this if there's a legitimate Ruby 2.0+ feature (e.g. keyword args) we'd like to take advantage of in a http 2.x gem

[2015-12-13 01:51] tarcieri opened #272 "Extract asynchronous I/O layer (e.g. for Celluloid::IO support)"
I'd like to use this as a master tracking ticket for all feature requests/regressions related to the asynchronous I/O layer/timeout implementation.

I think this is one of the most interesting parts of this gem (thanks @zanker) and the two of us have discussed extracting it into a separate gem:

https://github.com/zanker/socketry

The addition of this feature broke Celluloid::IO support. Once upon

[2015-12-13 01:52] tarcieri commented on #225
Closing this. Please continue discussion in #272

[2015-12-13 01:52] tarcieri commented on #259
@ixti do you have time to work on this for 1.0, or should we fix it in 1.1+?

[2015-12-13 01:53] tarcieri commented on #249
Will track this going forward in #272

[2015-12-13 01:53] #249 closed

[2015-12-13 01:53] #225 closed

[2015-12-13 01:54] tarcieri commented on #212
I assume you fixed this @ixti, because I have been using this gem with Webmock without issue for quite some time.

[2015-12-13 14:43] ixti commented on #259
Not sure I will be able to fix this today, so if it will not happen in 1.0 - it's ok to push that to 1.1 I think

[2015-12-13 14:46] ixti commented on #222
Yeah. Just can't find enough time to sit down and rewrite this thingy...

[2015-12-13 14:49] ixti commented on #223
@tarcieri IMO it worth keep it open. Just move to 2.0 milestone. That's definitely something I want to have and something I need for myself in fact :D

[2015-12-13 14:56] #269 closed

[2015-12-13 20:00] ixti commented on #224
I love both gems. But would like to avoid having dependency, and definitely against having `rchardet` as default resolution algorithm (it's pretty heavy). Probably this should be done like pluggable extensions to body streamer.

In any case I'm removing this from any milestone. This will not introduce (most likely) any backward compatible changes so it can be implemented whenever it's possible. So

[2015-12-13 20:39] tarcieri commented on #256
I shipped 1.0.0.pre1 with deprecations removed, and have been using it in my app at work without issues.

@ixti looks like these are the items you tagged as remaining for 1.0?

#259
#264

Any others?

[2015-12-13 22:25] ixti commented on #256
No. Only these ones. Will finish with them before the next week for sure, so 1.0.0 will be released on due date without any issues.

[2015-12-14 01:59] ixti commented on #212
Well I didn't. But after thinking sometime how problem could have disappeared, I eralized where it was happening. And it turns out that it was you who fixed the issue... By dropping out caching...

[2015-12-14 01:59] ixti commented on #212
In other words. This should be considered as fixed/closed, yes. :D

[2015-12-14 04:11] zanker commented on #272
Yea I'd like to work on Socketry but it looks like I'll not have time for a while :(

[2015-12-18 01:22] nerdrew commented on #257
Proof of concept: https://github.com/httprb/http/pull/274

[2015-12-19 00:54] tarcieri opened #277 "Webmock broken by new HTTP::Response#initialize API"
See f40fbda8: Use opts hash for HTTP::Response.new

This seems like a good change. I think we should release with this new API and update Webmock accordingly.

cc @connorhd @nerdrew @zanker

[2015-12-19 01:21] zanker commented on #277
Sounds good. I'd like to see us do this in a way that's more backwards compatible but I'm not exactly sure if that's feasible.

[2015-12-19 02:33] ixti commented on #277
Oh. I merged that and forgot to provide webmock adapter update. Will do that this weekend.

[2015-12-19 02:35] ixti commented on #277
I don't see a way to make it backward compatible either. But I don't see worth in keeping API backward compatible - we just removed bunch of methods ;D we're *braking bad* already :D

[2015-12-19 03:31] tarcieri commented on #277
Sidebar: if we do this for `Response`, should we do it for `Request` too?

https://github.com/httprb/http/blob/master/lib/http/request.rb#L67

[2015-12-19 11:42] ixti commented on #277
Agree!

[2015-12-19 21:16] tarcieri commented on #277
Ok, I just merged #278 which updates the `Request` API (thanks @ixti) so I guess that means we're going with a breaking API change here

[2015-12-19 21:16] #277 closed

[2015-12-19 21:30] tarcieri commented on #277
I released 1.0.0.pre4 with the updated `HTTP::Request` API.

@ixti want to take a crack at fixing Webmock?

[2015-12-19 22:55] ixti commented on #277
Yeah. Sure. Will prepare a PR for webmock today. Sure.

[2015-12-20 20:06] tarcieri commented on #256
@ixti would you still like to fix these before 1.0? I think they can both 1.1+ fixes FWIW

[2015-12-20 20:53] tarcieri opened #280 "Drop lowercase Http support?"
This library started out supporting a lowercase `Http` name, because it was cool and Ruby-ish.

Unfortunately many other gems define a toplevel `HTTP` module (including http_parser.rb, which this gem depends on), so that wasn't practical. Instead, this gem creates a constant alias to stay backwards compatible with the original API:

https://github.com/httprb/http/blob/master/lib/http.rb#L27

I thi

[2015-12-20 23:20] ixti commented on #256
Okay. Let's shift those to `1.1`

[2015-12-20 23:21] ixti commented on #280
:+1: on dropping `Http` out

[2015-12-20 23:25] zanker commented on #280
SGs

On Sun, Dec 20, 2015 at 3:21 PM, Alexey Zapparov <notifications@github.com>
wrote:

[2015-12-21 00:39] #280 closed

[2015-12-21 00:41] tarcieri commented on #256
Ok then, well with #281 merged I've released 1.0.0.pre6 and that's it for me. I think we're good to go for 1.0.

[2015-12-21 09:21] ches commented on #272
I was following #225 but without much familiarity with the history I feel a little short on context from the description of this new ticket—I've swiftly browsed what code exists in the Socketry repo, but since it lacks specs and a high-level README description at this point, would you guys mind expanding a little either there or here on it when you have time? I.e. what is the intended focus/scope

[2015-12-21 16:13] ixti commented on #256
:shipit:

[2015-12-21 18:37] tarcieri commented on #272
@ches it'd basically be a wholesale extraction of the current timeout code, which has a synchronous API, but async I/O for implementing timeouts.

It would work with core Ruby and Celluloid::IO. It could not work with EventMachine and Cool.io, because they're callback-driven.

Right now it is very difficult to implement I/O with timeouts in Ruby without using core `timeout.rb`, which is [unsafe du

[2015-12-22 14:04] ixti commented on #277
PR for webmock is: https://github.com/bblimke/webmock/pull/554
Meanwhile, I think we should move webmock integration under http gem.
So that in WebMock there will be only one line left: `require "http/webmock"`.

That will make webmock adapter always up to date with http API.

[2015-12-22 18:52] tarcieri commented on #277
In theory this should be the last breaking change because the 1.0 API should be stable, so I'm not sure that matters?

Perhaps we should move it the next time we feel the need to change it.

[2015-12-22 19:25] ixti commented on #277
Agree!

[2015-12-25 18:43] tarcieri commented on #242
Okay, well there are some legitimate 2.0+ features to look at, so I'm reopening this and setting it for the 2.0 milestone (i.e. all 1.x releases will support 1.9.3).

Ruby 2.0+ support `IO#wait_readable` and `IO#wait_writable` if you require `io/wait`. This would be a nice replacement for our current usage of `IO.select`.

[2015-12-25 18:54] sferik commented on #242
I withdraw any objections to drop support for Ruby 1.9.

[2015-12-25 19:02] tarcieri commented on #242
Haha, right after I release 1.0 :wink:

Let's definitely plan on a 2.0 release of the gem being Ruby 2.0+.

[2015-12-25 19:11] tarcieri commented on #256
1.0.0 released! Announcement here:

https://groups.google.com/forum/#!topic/httprb/c26mK1xvJAY

[2015-12-25 19:11] #256 closed

[2015-12-28 14:36] jrochkind opened #285 "using persistent, but keeping entire HTTP::Response object, not #to_s"
Taking the [example from the docs](https://github.com/httprb/http/blob/2466ee2c5fc30cfbee3f5d2f5f7c2cbf245b0e38/lib/http/chainable.rb#L121-L123), but altering it to map entire HTTP::Response objects rather than calling #to_s on them to get message bodies...

[code]

We get an exception raised on the second `get`.

[code]

Is it not possible to use persistent connections and operate on HTTP::Respon

[2015-12-28 15:05] zanker commented on #285
It's not possible right now. We probably should change it so the response object isn't linked to the socket beyond the body though.

Or at least skip that check. I'll take a look in a bit.

Sent from my iPhone

[2015-12-28 17:21] tarcieri commented on #285
Something needs to read off the response body between requests so the next request begins consuming the next response body at the headers.

[2015-12-28 19:47] jrochkind commented on #285
Thanks. This limitation makes the persistent connection feature more difficult to use correctly, and less useful than it could be.

[2015-12-28 19:50] jrochkind commented on #285
It may not be easy to implement in the actual architecture, but semantically it seems like what would be desirable is if you make a non-initial request on a persistent connection, the previous body needs to be completely read at that point.  That matches the semantics of how you actually need to use persistent HTTP connections (you can't make another request until you've finished reading the prior

[2015-12-28 23:54] zanker commented on #285
Ah sorry I see what's happening now. Yea @tarcieri is right, you need to read the response off, so in your example

[code]

Will work fine. We can't really automatically read off the entire thing, because we specifically support streaming as a first class feature. I agree it's not totally clear, and it might be worth revisiting by making streaming opt-in, as I expect that's not used frequently.

T

[2015-12-29 16:36] tarcieri commented on #285
Making another request could implicitly read off the old body. I think we ended up doing something like that in Reel

[2015-12-29 16:50] zanker commented on #285
Yea we could also do that. I kind of dislike that change because it's inconsistent magic.

Then again right now it hard errors. I'm kind of conflicted and can go either way.

Sent from my iPhone

[2015-12-29 16:55] jrochkind commented on #285
I think it's confusing magic to tell you that if you are making requests to
a persistent connection, you need to keep track of the order you made the
requests, and make sure to read their bodies in the right order (even if
you don't care about the body of one of them but just want the headers or
whatever). Well, not magic, whatever the opposite of magic is (voodoo
curse?)

On Tue, Dec 29, 2015 at

[2015-12-29 17:27] zanker commented on #285
Hah yea sorry, to clarify I definitely want to fix it and make it clearer. I'm not a huge fan of the mechanics changing based on persistent vs non persistent. That's why I'd rather have a flag to toggle streaming for example.

Sent from my iPhone

[2015-12-29 19:04] jrochkind commented on #285
Yeah, right on. Currently, of course, the mechanics do change in persistent vs non persistent. What would be the downsides of @tarcieri's suggestion, how would it effect the API in a backwards incompat way? I am missing it.

[2015-12-29 21:55] ixti commented on #285
to avoid `response.body.to_s` there's a syntax sugar for that in fact:

[code]

[2015-12-29 22:19] tarcieri commented on #285
@ixti nice! Would be good to document that

[2016-01-04 11:31] igor-alexandrov opened #291 "Concurrency bug with Sidekiq"
I use http.rb to make parallel queries with Sidekiq and I got very strange problem on one of my projects. Sidekiq gets down after all 10 workers take similar tasks from queue. Every task does http request to same host but with different params. Here is what I found in log.

[code]

Here is a code that I use:
[code]

[2016-01-04 12:42] igor-alexandrov commented on #291
ruby 2.2.3

[2016-01-04 16:31] tarcieri commented on #291
This is a memory corruption error. http.rb itself contains no native code, so it's a bug with MRI, http_parser.rb, or another native extension in your project.

I would suggest trying a different version of MRI, but in the meantime, http.rb cannot be directly responsible for this.

[2016-01-04 16:31] #291 closed

[2016-01-04 17:45] igor-alexandrov commented on #291
I see, thanks. I updated to 2.2.4 and all works well.

[2016-01-05 14:57] Eric-Guo opened #293 "Equivalent upload file function similar in rest-client upload"
I try to migrate from Rest Client to http, but don't known how to write proper [upload options similar to rest-client](https://github.com/rest-client/rest-client#usage-raw-url):

In rest client, I can write:

[code]

But in http, tried several combination, even relative raw one:

[code]

But seems still not exactly same one.

[2016-01-05 17:53] tarcieri commented on #293
What's the specific problem? The request being made is different?

[2016-01-05 19:17] ixti commented on #293
Below should work:

[code]

[2016-01-05 20:32] tarcieri commented on #293
Please reopen if you're still having problems

[2016-01-05 20:32] #293 closed

[2016-01-06 15:16] Eric-Guo commented on #293
Following ixti suggest, written as [below](https://github.com/Eric-Guo/wechat/commit/d426dc9490f47d3dde7ca6894bc67fab5d4dc70c), meet another ` failed to read headers` error

[code]

[code]

[2016-01-07 01:06] ixti commented on #293
I'm not 100% sure, but isn't RestClient adds `Accept: application/json` header?
Try add it yourself: `headers[:accept] = "application/json"`

[2016-01-07 01:22] ixti commented on #293
Ahh.. Opened `client.rb` of wechat gem. You are merging in `:accept => :json` which is not automagically translated into `application/json` in HTTP as opposed to RestClient which tries to resolve given value via MimeType treating value as extension.

# TLDR

Change [client.rbL40](https://github.com/Eric-Guo/wechat/blob/d426dc9490f47d3dde7ca6894bc67fab5d4dc70c/lib/wechat/client.rb#L40) to:

[code]

[2016-01-07 15:33] Eric-Guo commented on #293
`header.merge!('Accept' => 'application/json')` still have below problem, I can confirm the uploading is good, except the `read_headers!` alwasy failed.

[code]

[2016-01-07 19:06] tarcieri commented on #293
An EOFError indicates the remote server is closing the connection

[2016-01-10 04:33] tarcieri commented on #285
With d278878 I think we can safely call this one closed

[2016-01-10 04:33] #285 closed

[2016-01-10 04:37] tarcieri commented on #263
@ixti what if we had a `:cookies` or `:cookie_jar` parameter on the actual request method? (e.g. `#post`)

So, in your example above:

[code]

[2016-01-10 04:45] tarcieri commented on #257
`HTTP.nodelay` was in 1feffc6. Additionally I made `HTTP::Request::Writer` Nagle-friendly for `String` bodies in 34cbf4411.

[2016-01-10 04:45] #257 closed

[2016-01-10 04:50] tarcieri commented on #224
We merged #234

[2016-01-10 04:50] #224 closed

[2016-01-11 12:05] msufa commented on #272
We've actually went for this gem strictly because of `Celluloid::IO` support, and seeing it removed from v1.0 is a major issue for us. I'm not looking for commitments, just some general info to have a good understanding of the situation. Is there any rough timeframe for v2.0? Are there any alternatives / workarounds for making the gem work with `Celluloid::IO`?

[2016-01-11 14:45] zanker commented on #272
@tarcieri do you remember what broke with Celluloid::IO? I thought it was due to the timeout portions, we could just make a Celluloid timeout class for people to use I think.

[2016-01-11 17:15] tarcieri commented on #272
Yeah, we'd need a Celluloid::IO timeout backend

[2016-01-11 17:17] zanker commented on #272
It's pretty easy to do, but I'm probably not going to have time to do it this week. I can take a look next week @msufa.

[2016-01-11 17:24] msufa commented on #272
Excellent! Thanks for the support and swift response @zanker

[2016-01-11 17:24] ixti commented on #263
@tarcieri manual handling is already working perfectly fine :D the idea behind this issue is to make it automatic. Right now one can pass cookies manually:

[code]

But this is not very beautiful way ;)) I will add a better variant soon.

[2016-01-19 18:10] sferik opened #297 "HTTP::URI.parse doesn’t set default port"
The `http` gem [changed](https://github.com/httprb/http/commit/81509bc40379dcc69bad9fa9ca435552947468c6) to how it creates URIs between version 0.7 and 0.8. Versions 0.7 and earlier used the standard `URI` library, while more recent versions use a custom `HTTP::URI`, which descends from `Addressable::URI`.

After upgrading `http` dependency in the `twitter` gem from 0.6 to 0.8 (and now to 1.0), so

[2016-01-19 18:31] tarcieri commented on #297
Definitely sounds like the correct behavior to me, and a bug in Addressable...

[2016-01-19 18:46] sferik commented on #297
@tarcieri I just looked at the Addressable code and realized they solve this by providing [`default_port` and `inferred_port`](https://github.com/sporkmonger/addressable/blob/295d7baec1281976434e9061b8065979b3f38c83/lib/addressable/uri.rb#L1351-L1373) methods. Perhaps that’s fine for HTTP? But it was surprising to me that the `port` method would return `nil` when a port is not set explicitly, espe

[2016-01-19 19:18] zanker commented on #297
I'd agree with @tarcieri. It's annoying that it broke between the two, but returning a nil makes sense to me. Having an explicit method is :+1:

[2016-01-19 19:18] tarcieri commented on #297
@sferik hmm, I think it's a bit strange that `HTTP::URI` diverges from `URI` like that. There was also some recent discussion about removing Addressable due to performance reasons.

[2016-01-19 21:36] ixti commented on #297
@sferik We can do that in our inherited URI class

[2016-01-19 22:06] javierjulio opened #298 "Frequent HTTP::TimeoutError's (Read) on 1.0.x but not on 0.9.x"
I've been using the 0.9.x releases for a few months now and have since upgraded to 1.0.0 and then 1.0.2. I've noticed several HTTP::TimeoutError's on 1.0.x locally but I get it almost every single time I deploy a gem that runs integration tests on CircleCI (Ubuntu). If I update the two gems I've created that depend on http and downgrade it back to `add_dependency "http", '~> 0.9'` all my integrati

[2016-01-19 22:22] ixti commented on #297
@tarcieri re removing Addressable. Before doing that we should first do our own research.
Because Addressable does pretty awesome job in:

- IDNA support `Addressable::URI.parse "http://привет-мир.рф"`
- UTF support `https://en.wikipedia.org/wiki/A_Coruña` (see: https://github.com/httprb/http/pull/197)
- nice utilities like `#join`

Yes, `Addressable::URI.parse` slower than `URI.parse`.
Yes `Addre

[2016-01-19 22:34] zanker commented on #298
How long does the request normally take, and how long before it times out? Also what version of Ruby?

There's some changes @tarcieri made around the API calls we use for timeouts, but they should work identical to before. I could believe there's a small rounding change where if you were cutting it close on timeouts, but given you said increasing it doesn't help, it's probably not that.

[2016-01-19 22:56] tarcieri commented on #298
@javierjulio can you provide any sort of timeline of the events that are happening and how those don't line up with your described timeout model?

[2016-01-19 22:57] tarcieri commented on #297
@ixti sure, I don't think there's even an open issue about removing Addressable, just some discussion. I was just throwing it out there as something that has come up in the past.

[2016-01-19 23:15] javierjulio commented on #298
@zanker I don't know how long requests normally take, since I'm making requests to a sandbox service I'd say about a second or so each. Note that the timeouts are for each request (per operation). I've updated the description with this info and Ruby version (2.2.3). Thanks!

@tarcieri to be honest I don't know what the best timeouts are, I just went with what shown in the README as it seemed bette

[2016-01-19 23:16] tarcieri commented on #298
@javierjulio more generally, do you think you're getting a `HTTP::TimeoutError` sooner than you should? I guess my question is: what's misbehaving? What do you expect, and what's actually happening?

[2016-01-20 00:00] javierjulio commented on #298
@tarcieri that's a great question, I'm not sure. I don't believe so. I'm not expecting it to timeout. It hasn't before and when downgrading its fine. At first I thought it was service related but the third party service has been up and no reported issues any time I check. I started to suspect http since I upgrade dependencies frequently. Since I've been on 1.0.x I've had a few requests fail due to

[2016-01-20 02:17] ixti commented on #297
@tarcieri Yeah. I guess I wrote that up mostly for myself ;)) as in that discussion I was on the side of removing it :D

[2016-01-20 02:18] ixti commented on #297
For reference. Discussion me and @tarcieri were talking about is: https://github.com/httprb/http/pull/197#issuecomment-170556459

[2016-01-20 02:21] ixti commented on #298
We experienced same issue. So we had to downgrade to `0.9`.
It fails WAY sooner for us `:connection => 15` and it fails instantly...
As soon as I will grab details on issue to be able reproduce - will add it here.

[2016-01-20 02:54] ixti commented on #298
Was unable to 100% simple reproducible variant.
But following one can be used to reproduce:

[code]

[2016-01-20 02:55] ixti commented on #298
Fails for me with:

[code]

[2016-01-20 02:57] ixti commented on #298
The snippet abbove reproduces error on ruby `2.1.8`, `2.2.4`, but not on `2.3.0`.

[2016-01-20 04:57] javierjulio commented on #298
@ixti awesome thanks! I was thinking I might be crazy. Good to know its reproducible elsewhere. I just took your same code snippet, ran it on Ruby 2.2.3 using HTTP 1.0.2 and immediately replicated the issue. It fails right away. The output from the first failure is below. I ran the snippet four more times and each one failed consistently for me.

[code]

[2016-01-20 05:37] tarcieri commented on #298
@javierjulio thanks for the repro. Will look into it

[2016-01-20 13:25] ixti commented on #298
Just to explain a bit. It fails pretty randomly:

[code]

It may fail at any cycle. Absolutely randomly. So if you will remove `raise` from this snippet, results will look like:

[code]

[2016-01-20 13:36] ixti commented on #298
Notice that each cycle is pretty same in timing. So it has nothing to do with actual timing.
Also, `rescue_readable` of `Null` timeout and `readpartial` of `PerOperation` (child of `Null`)
seems like might to affect  each other:

[code]

[2016-01-21 08:00] tarcieri commented on #298
@ixti @javierjulio if this was working on an earlier version and regressed, can either of you do a git bisect and try to find the commit that introduced the bug?

[2016-01-21 13:34] ixti commented on #298
@tarcieri sure.

[code]

[2016-01-21 17:10] tarcieri commented on #298
@ixti joy! Since you have it reproed, mind playing with it a bit more?

That commit changed all 3 types of timeouts (`global.rb`, `null.rb`, and `per_operation.rb`). Can you try reverting the individual files there back to their previous versions and see if you can further narrow down what's causing the problem?

[2016-01-21 17:21] ixti commented on #298
@tarcieri sure. :D

[2016-01-21 18:00] ixti commented on #298
But I won;t be able to till weekend. Just for the record.

[2016-01-21 18:01] tarcieri commented on #298
No worries

[2016-01-25 17:13] aaronchi opened #300 "Normalized Response Headers"
It seems that header names are normalized when they are added to the response body, so in some cases, the values reported by http are not the actual values returned by the server. Is there any way to access the original header names in the response before they are normalized or remove normalization for response headers?

[2016-01-25 17:16] tarcieri commented on #300
The best we could offer is a flag to disable this behavior. Any particular reason why you want the original headers? They should only differ by case...

[2016-01-25 17:20] aaronchi commented on #300
I'm moving over from a different driver and noticed that certain headers I was looking for don't get located  correctly because of the normalization.

It seems like normalization is a convenience method for setting headers in the request, but shouldn't necessarily be applied to the response since these are the actual values being sent from the server.

[2016-01-25 17:22] tarcieri commented on #300
Header normalization applied to the server response is useful when looking for standard headers which may be served in varying cases, which is needed for the internal operation of the library.

Again, a flag to shut it off might be doable...

[2016-01-25 17:29] ixti commented on #300
Generally it's doable to provide a way to get original name and normalized one. But I also don't see any value in this, so probably a flag to disable headers normalization is better idea.

[2016-01-25 17:43] aaronchi commented on #300
I think I will just treat response headers as case insensitive in my code. Thanks.

[2016-01-25 17:43] #300 closed

[2016-01-25 17:48] ixti commented on #300
:D

[2016-01-31 22:53] tarcieri commented on #298
@ixti well, I'm thinking I should revert this entirely unless we can narrow it down

[2016-01-31 23:04] ixti commented on #298
@tarcieri I've pushed a patch that makes snippet from the above work on all rubies. Also it passes all tests...

[2016-01-31 23:18] tarcieri commented on #298
@ixti odd... that is something that sticks out from my changes to the original code. The comment is actually documenting why it's using `rescue_readable` and `rescue_writable` despite the `:exception => false`

We may not have sufficient coverage for EAGAIN cases for SSL (they're rather difficult to test)

[2016-01-31 23:30] tarcieri commented on #242
So I was just talking to @ixti offline about the usage of `io/wait`. We ship an `IO.select`-based timeout backend specifically for Ruby 1.9.3 compatibility.

I'd like to drop that whole thing as well. Curious to hear opinions on how to do that in respect to semantic versioning and so forth.

I'm down to ship a "2.0" that does nothing but drop support for 1.9.3.

[2016-01-31 23:50] ixti commented on #298
After a discussion over an IRC, I agree that proposed patch is terribly wrong.

[2016-01-31 23:56] ixti commented on #298
After my attempt to simplify code in order to find a better fix, it happened that it requires more thoughtful code reading. I will try to find time over a week to come with a better fix.

Meanwhile, @tarcieri if you're OK to revert that particular commit, probably that's the best option.

If anybody wanna jump on fixing this, please do so! :D

[2016-02-01 00:02] ixti commented on #242
I'm OK with shipping `2.0.0`. It makes gem look more mature...

Side note. Drop of ruby 1.9.3 support means only drop of jruby 1.7 as well.

[2016-02-01 00:10] zanker commented on #242
I'm fine with that. Most of our apps are either off JRuby or on 9k so not a big deal to me to drop 1.7

Sent from my iPhone

[2016-02-02 02:00] sferik commented on #242
:+1:

[2016-02-08 12:23] julik opened #303 "IOError / EOFError not subclassed from HTTP::Error"
I am using http.rb in a threaded application for doing downloads, and my error handling code is somewhat more involved because I have a set of exceptions I consider retriable. Ideally I would insert all the descendants of `HTTP::Error`, or `HTTP::Error` itself into my array of retriables, but the actual sync read methods can also raise IOError and EOFError. Would it not be wiser to have subclass v

[2016-02-08 18:37] zanker commented on #303
I think it's a good idea, but we'd need to do it as part of 2.0 I think. @tarcieri @ixti @sferik thoughts?

[2016-02-09 00:36] ixti commented on #303
:+1: on this!

[2016-02-09 20:00] hbzhang opened #304 "Got SSL related error"
I tried to use this GEM. However I got the error:

OpenSSL::SSL::SSLError: SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol

The site I am trying to access is a SSL site. Please help. Thanks!

[2016-02-09 20:11] tarcieri commented on #304
Can you post a link to the server in question?

This error indicates an SSL/TLS protocol mismatch between client and server. You either have an out-of-date version of OpenSSL installed locally, or the server has an out-of-date SSL configuration.

[2016-02-09 20:29] hbzhang commented on #304
Can I just pass by the SSL option. I think Ruby built in http has the option to ignore the SSL connection. My server is OpenSSL 1.0.1e-fips 11 Feb 2013.

I am not sure the SSL configuration of the server I am connecting to.

Thank you!

[2016-02-09 21:15] tarcieri commented on #304
We do not provide a first-class API for using HTTPS insecurely by-design.
However, we do let you pass in a custom SSLContext object you can configure
to be as secure or as insecure as you desire. The API is documented here:

https://github.com/httprb/http/wiki/HTTPS

--
Tony Arcieri

[2016-02-10 06:37] #304 closed

[2016-02-10 06:38] tarcieri commented on #303
:+1: on this, but like @zanker it's a breaking API change. Fortunately we're planning on shipping 2.0 soon to drop Ruby 1.9 support.

[2016-02-10 06:43] hbzhang commented on #304
Thank you for the help. I just made a simple trick, instead of GET or POST to the HTTPS based URL, i did it with HTTP based URL. It seems the gem does not complain the SSL error anymore.

[2016-02-16 00:11] tarcieri opened #306 "HTTP::Session"
I've looked at a lot of HTTP libraries in my day (one of the most interesting recent ones has been [proxygen](https://github.com/facebook/proxygen)) and I think the main thing this library is missing is a session abstraction:

http://docs.python-requests.org/en/master/user/advanced/#session-objects

I think this is the best way to solve #302 (cc @zanker)

[2016-02-19 19:12] scrozier opened #308 "Ignore SSL certificate errors, like curl -k?"
I need this...is there an existing way to get this behavior already?

[2016-02-19 19:17] tarcieri commented on #308
See #304

--
Tony Arcieri

[2016-02-19 19:47] scrozier commented on #304
FWIW, this works for me to ignore server certificate errors:

    ctx = OpenSSL::SSL::SSLContext.new
    ctx.verify_mode = OpenSSL::SSL::VERIFY_NONE

Then pass `ssl_context: ctx` as your final parameter to HTTP.post

[2016-02-19 19:49] scrozier commented on #308
Thanks, tarcieri. After some trial and error, the following worked for me:

    ctx = OpenSSL::SSL::SSLContext.new
    ctx.verify_mode = OpenSSL::SSL::VERIFY_NONE

Then pass `ssl_context: ctx` as your final parameter to HTTP.post.

[2016-02-19 19:49] #308 closed

[2016-02-20 17:35] javierjulio commented on #298
@tarcieri I saw the revert in master so I installed http from master locally and in a console ran the same script @ixti wrote. I fooled around with the timeouts too but I still keep getting frequent read errors, in fact more so than what we showed here. I made a small adjustment to the script to be sure the timeout is on read and it is. Although I could very well be doing something wrong. I did ve

[2016-02-22 14:24] milgner opened #309 "ssl_context in default options"
My use case: run multiple requests against a single host, using always the same headers (basic auth, accept and content-type) and a custom SSL context.

However I cannot set up the latter: when trying to set `ssl_context` on the default options, it complains that it's a protected method.
When I do `default_options = HTTP::Options.new(ssl_context: ssl_context, ...)`, all the new default options are

[2016-02-22 16:58] ixti commented on #309
[code]

[2016-02-22 17:05] milgner commented on #309
Of course I can specify the SSL context on each request. I just thought it counter-intuitive that it cannot be set as a default option, since that's what default options are supposed to be for?

[2016-02-22 17:38] tarcieri commented on #298
@javierjulio it wasn't a full revert... I was trying to preserve the new changes to support an IO.wait backend.

Can you try bisecting yourself and seeing if you get the same commit as @ixti? f4df840

I can try a full revert of this commit next if so...

[2016-02-22 18:19] ixti commented on #309
Oh. That's a good question... @tarcieri @zanker IMO it's a pretty good point.
Probably we can provide API like:

[code]

[2016-02-22 18:59] tarcieri commented on #309
Yes, however I think we should get away from the `#ssl_context` API and move towards `#ssl_params`.

(That's not to say remove the `#ssl_context` API, just favor `#ssl_params`)

[2016-02-22 20:19] javierjulio commented on #298
@tarcieri oops sorry about that!

[2016-02-22 22:25] ixti commented on #309
@tarcieri why not allow `#ssl` understand `:context` as part of params? :D

[2016-02-22 22:27] tarcieri commented on #309
@ixti sure, that works

[2016-02-28 19:25] julik opened #310 "Working with the raw socket after header are all read and parsed"
I need to write a _very_ high volume HTTP downloader which performs multiple requests in succession and writes responses to files. In my experiments with my toy HTTP client I have determined that to have the least GC pressure I need to reuse a String as an `outbuf` as per Ruby documentation.

[code]

In contrast with the `readpartial` there is no String allocation per call, which seems to be detri

[2016-02-29 00:08] tarcieri commented on #310
Have you considered using a client which can do this natively in C? If your goal is to get an HTTP response into a file, round-tripping it through a Ruby VM is probably not the most efficient option.

[2016-02-29 01:36] julik commented on #310
I did, so far only found Patron that supports it using the curl option for CURLOPT_WRITEDATA. Maybe adding a direct-to-FD feature would make sense for HTTP.rb too?

[2016-02-29 02:32] tarcieri commented on #310
Converting everything to a direct buffering model is a PR we might accept but unless you want to work on it yourself it probably isn't going to happen.

[2016-02-29 10:31] julik commented on #310
Fair enough. Will close for now.

[2016-02-29 10:31] #310 closed

[2016-03-03 12:59] bbozo opened #311 "Stack trace when requiring the HTTP gem from Faraday"
Hello all :)

I gave it a go to write the `HTTP` plugin for Faraday with `Celluloid::IO` support https://github.com/lostisland/faraday/pull/564 - and on C Rubies 1.9.3+ and JRuby in mode 20+ I get this stack trace in the test: https://gist.github.com/bbozo/6f97a19f34d8b8961db8

I'm not sure if it's something to be concerned about, also it possibly breaks the CI tests, so I'm wondering if it's some

[2016-03-03 13:01] bbozo commented on #311
Sorry, my idiot ^_^

[2016-03-05 07:08] kylekyle opened #312 "Validate charset before force_encoding"
`HTTP::Response::Body` will force a response's contents to whatever encoding was specified in the `Content-Type` header. That encoding should be validated before applied since some common encodings don't appear in ruby's `Encoding` lookup table.

For example,

[code]

Pulling that page using `HTTP` ...

[code]
[code]

[2016-03-05 07:15] kylekyle opened #313 "Support common mime types"
It would be nice to support the parsing the of the `text/html` and `application/xml` MIME types. `text/html` should just return the response contents as a `String`, and `application/xml` could be returned as a `Nokogiri::XML` document.

[2016-03-05 18:14] tarcieri commented on #313
How is it helpful to have a `#parse` that's a no-op?

re: nokogiri, I think it's ok so long as it's *optional*. I do not think it makes sense to make nokogiri a hard dependency of this library

[2016-03-06 23:19] kylekyle commented on #313
Yeah, the `text/plain` adapter is a no-op, but without it users have to remember to call `.body.to_s` instead of `#parse`, which is a little annoying. It is nice to use `#parse` for consistency.

You're right about the `nokogiri` dependency. It's a big one. I removed the dependency from the spec and changed the adapter to check if `nokogiri` is available when `#parse` is called. If it's not availa

[2016-03-06 23:29] tarcieri commented on #313
You can just call `#to_s` on a response object. No need to call `#body` first.

[2016-03-06 23:34] kylekyle commented on #313
Ah! I didn't know that. Thanks! Unless you object, it would still be nice to support the `text/plain` MIME type for consistency.

[2016-03-07 05:49] #312 closed

[2016-03-09 21:23] franklinyu opened #316 "[wiki] suggest edit"
At the bottom of the page [Persistent Connections (keep alive)](/httprb/http/wiki/Persistent-Connections-(keep-alive)), there is a missing `|target|`, i.e.,

[code]

should be changed to

[code]

[2016-03-10 00:37] ixti commented on #316
Indeed. Thank you. Fixed.

[2016-03-10 00:37] #316 closed

[2016-03-14 17:08] tarcieri commented on #313
I think I'm with @ixti's response on #315. If you'd like this, it's specifically designed to be pluggable so you can include your own plugins and release them in your own gem if you want. Otherwise I don't think it makes sense out-of-the-box.

[2016-03-14 17:08] #313 closed

[2016-03-15 12:33] mhenrixon opened #317 "Prevent header renaming?"
How can I prevent header renaming? I need to provide headers with an underscore and I can't find a way to achieve this.

[2016-03-15 12:43] #317 closed

[2016-03-15 20:20] ixti commented on #317
Can you explain why you might need this?

[2016-03-15 20:22] ixti commented on #317
You're not the first one who was asking this question, so I'm pretty concerned if this is really needed feature (we can probably allow pass header names without normalization)

[2016-03-15 20:54] mhenrixon commented on #317
For me it turned out it wasn't needed I just thought it was when I got different errors from CURL when I changed the name of the headers.

[2016-03-15 21:10] ixti commented on #317
Ah. OK. Thanks.

[2016-03-15 21:55] tarcieri commented on #317
I think in general the way we process headers could use some work (and was a regression from my previous code). We *always* do duplicate allocations for headers, even if they already match the canonical format.

I think we should check first if they match the canonical format, in which case the duplicate allocations should be skipped. Right now we always check and always allocate.

[2016-03-16 14:53] ixti commented on #317
Fixed in: #318

[2016-03-19 19:03] tarcieri commented on #298
@javierjulio what Ruby was that on? I can't reproduce your problem

[2016-03-19 19:24] tarcieri commented on #298
I did a full revert in #320 and released that as 1.0.4. That should hopefully fix your problem.

[2016-03-19 23:38] tarcieri commented on #242
`master` is now blissfully Ruby 1.9.3-free

[2016-03-19 23:38] #242 closed

[2016-03-19 23:40] tarcieri commented on #297
@sferik do you still consider this an open problem? Should we perhaps open a new one about getting rid of `Addressable`?

@ixti getting rid of `Addressable` is something we should consider before a 2.x release...

[2016-03-19 23:43] tarcieri opened #321 "Release 2.0.0"
We're about to do a major version bump to drop Ruby 1.9 support (see #242). This is a last call for any additional breaking API changes before that happens.

The only one I think we might consider making is #297 (tl;dr: drop support for `Addressable` due to performance concerns, see also https://github.com/httprb/http/pull/197#issuecomment-170556459)

Any others, or :shipit:?

[2016-03-19 23:44] tarcieri commented on #297
I made an issue for a 2.0.0 release: #321

[2016-03-20 00:23] sferik commented on #297
@tarcieri Thanks. Other than this, I don’t have any 2.0 blockers.

[2016-03-20 00:42] tarcieri commented on #321
Perhaps we should do #303 as well

[2016-03-20 00:43] tarcieri commented on #298
Considering this solved for now. Please reopen if you disagree.

[2016-03-20 08:58] ixti commented on #298
Not that I disagree... But unfortunately snippet still fails for me on ruby < 2.3.0:

[code]

outputs

[code]

[2016-03-20 08:59] ixti commented on #298
Snippet was executed against current master.

[2016-03-20 09:06] ixti commented on #297
I don't think we should get rid of Addressable completely. Maximum what I think we should do (if we want to get rid of hard addressable dependency) is to provide our own class for URI, that will use internally stdlib URI by default and will be able to handle URIs with addressable: `HTTP::URI.use :addressable`.

[2016-03-20 09:14] ixti commented on #263
Closing this in favor of #306

[2016-03-20 09:14] #263 closed

[2016-03-20 17:25] tarcieri commented on #298
@ixti can you repro against 1.0.4 too?

[2016-03-20 19:01] tarcieri commented on #297
Yeah, let's get rid of `HTTP::URI < Addressable::URI` at least. It should use object composition instead of a subclass.

[2016-03-20 19:05] tarcieri commented on #298
Ok, I'm able to reproduce the problem on Ruby 2.2

[2016-03-21 01:03] tarcieri commented on #298
I think this actually fixes the problem: https://github.com/httprb/http/pull/322

[2016-03-21 01:25] #298 closed

[2016-03-21 01:26] tarcieri commented on #298
@ixti @javierjulio please double check, but I think both `master` and `1-x-stable` are fixed now.

[2016-03-21 03:48] javierjulio commented on #298
@tarcieri sorry, I wasn't able to look at this sooner. I just tried this on Ruby 2.2.3 (Mac OS X latest) with http from `1-x-stable` and `master` with multiple script runs and I got a 100% pass rate. No failures at all. Switched back to 1.0.2 to verify the failures still occurred and they did. Bug is squashed! Thanks! :shipit:

[2016-03-21 04:10] tarcieri commented on #298
Woop! The root cause is still mysterious, but I'm glad we got this narrowed down and resolved

[2016-03-21 09:32] ixti commented on #298
I confirm that `master` as well as `1-x-stable` work as expected on my laptop with JRuby `9.0.5.0` as well as MRI `2.1.8p440`, `2.2.4p230` and `2.3.0p0`.

[2016-03-24 11:36] britishtea commented on #206
I ran into an issue today due to this commit.

I often use Charles Proxy to inspect HTTP(S) requests. When proxying HTTPS request to , for example, https://www.google.com, I see requests being made to `https://www.google.comhttps://www.google.com/`. I suspect this is due to the headline, which is `"GET https://google.com/ HTTP/1.1"`.

The following code causes the problem:

[code]

When doing the

[2016-03-29 02:02] tarcieri commented on #206
@britishtea definitely seems like a bug, possibly related to Addressable?

[2016-03-29 15:27] 907th opened #323 "URL with underscores don't work"
HTTP incorrectly converts `sms_service.mysite.com` URL into `sms%5Fservice.mysite.com`. And then my request fails with `HTTP::ConnectionError: failed to connect: getaddrinfo: Name or service not known` error.
PS. curl for the same URL works fine.

[2016-03-29 16:13] 907th commented on #323
My teammate thinks that this issue should be fixed in the Addressable gem. So he created a [similar issue] (https://github.com/sporkmonger/addressable/issues/233) in that gem.

[2016-03-30 18:49] tarcieri commented on #323
Addressable has been the source of a lot of problems, I think. We've discussed removing it (or at least minimizing its usage) in a 2.0 release.

[2016-03-30 18:50] tarcieri commented on #321
#323 seems relevant as well

[2016-03-31 01:14] tarcieri commented on #321
See also comments on #206. I think we should ditch Addressable.

[2016-04-01 15:42] kylekyle opened #324 "Set JSON enocoding"
The 'Content-Type' header for JSON should include the encoding of the JSON the gem generates. It's usually UTF_8, so it would be: `Content-type: application/json; charset=utf-8`

[2016-04-01 16:01] ixti commented on #324
Will `#encoding` of a string will be enough?

[2016-04-01 16:06] ixti commented on #324
So I guess changing [this](https://github.com/httprb/http/blob/master/lib/http/client.rb#L164):

[code]

to:

[code]

should be OK. Right?

[2016-04-01 22:40] kylekyle commented on #324
You're missing the `charset=` bit.

[2016-04-01 22:50] ixti commented on #324
Oh, yeah. Sorry. I mean `... charset=#{body.encoding.name}"` of course. Thanks!

[2016-04-02 07:13] bbozo commented on #311
The people from Faraday says that the stack trace in the tests breaks the CI build, so I went to investigate what triggers it.

I put a `binding.pry` breakpoint before [this](https://github.com/bbozo/faraday/blob/httprb_support/lib/faraday/adapter/http_gem.rb#L4) and [this](https://github.com/bbozo/faraday/blob/httprb_support/lib/faraday/adapter/http_gem_celluloid_io.rb#L8) line, and then I did a

[2016-04-02 18:24] tarcieri commented on #311
None of that looks related to http.rb.

Also note that we dropped Celluloid::IO support some time ago when we added the new timeout backend.

[2016-04-03 19:47] #297 closed

[2016-04-03 19:51] tarcieri commented on #321
Ok, well with #325 in place (which closes #297), I think we have a path forward for Addressable. I'd suggest we do #303 and call it good.

[2016-04-03 22:45] #303 closed

[2016-04-03 23:07] #324 closed

[2016-04-03 23:08] #311 closed

[2016-04-03 23:20] tarcieri commented on #321
I just released `2.0.0.pre` after doing a number of fixes (#297 and #303 are fixed among others)

If anyone would like to try it out, that'd be great. That said, I think I'm otherwise happy with the current state of `master`

[2016-04-04 06:28] bbozo commented on #311
Thank you @tarcieri

[2016-04-04 06:33] bbozo commented on #311
PS do you suggest that I drop `Celluloid::IO` integration from the Faraday adapters? Is there an alternative HTTP lib working with Celluloid::IO (maybe I mixed something up, but iirc other libs used to block) ?

[2016-04-04 16:37] tarcieri commented on #311
@bbozo I'd like to bring Celluloid::IO support back at some point, but it would require doing a lot of work on the timeout backend which I don't have time to do.

[2016-04-11 22:26] ixti commented on #206
@Connorhd fixed issue reported by @britishtea in https://github.com/httprb/http/commit/2625436bb25ab779e79b4b1ad6f2df9f94e43e48

[2016-04-18 16:59] julik commented on #303
@tarcieri thanks!

[2016-04-19 02:10] tarcieri commented on #321
Unless anyone has any objections, I'd like to ship the current master as 2.0.0 this Saturday (April 23rd)

[2016-04-19 05:39] zanker commented on #321
Seems fine

Sent from my iPhone

[2016-04-19 16:21] sferik commented on #321
🚀

[2016-04-23 23:09] tarcieri commented on #323
One thing I should note on this: underscores aren't technically allowed in domain names (only `[a-z0-9\-]`)

[2016-04-23 23:15] #321 closed

[2016-04-23 23:15] tarcieri commented on #321
2.0.0 is released! I'll make an announcement shortly

[2016-04-24 08:10] 907th commented on #323
@tarcieri You're right, they are [not allowed](http://tools.ietf.org/html/rfc1034#section-3.5) in DNS names. Thanks!

[2016-04-25 02:26] tarcieri commented on #323
I suggest either fixing your URLs or fixing Addressable.

[2016-04-25 02:26] #323 closed

[2016-04-25 15:34] bsodmike opened #335 "Content-Length not being set for POST requests?"
Hi,

I was integrating reCaptcha today and can into something curious, `HTTP.post('https://www.google.com/recaptcha/api/siteverify', params: { secret: secret, response: response })` and got

[code]

I tried setting the content length to some random value but I found it would hang of I did,

[code]

I suppose, this is because the content length is invalid; I didn't have time prying into the library

[2016-04-25 15:37] tarcieri commented on #335
You're correct we should be sending Content-Length if the length of the request body is known in advance. That said, in your case the request body is empty, so sending an arbitrary length like that will hang the remote server as it waits for the rest of the body.

[2016-04-25 15:40] bsodmike commented on #335
Ah no wonder, it's just strange that the reCaptcha server has this set.  I wonder if we could add some log notification if the gem if waiting for rest of the body and there isn't any response after a certain timeout?  It's just to potentially prevent others seeing something similar, even though I'd agree this is not a typical use-case.

Cheers @tarcieri

[2016-04-25 15:48] tarcieri commented on #335
This gem has extensive timeout support: https://github.com/httprb/http/wiki/Timeouts

[2016-04-25 15:50] bsodmike commented on #335
Ooh fantastic, thanks.

[2016-04-25 15:59] bsodmike commented on #335
This does the trick, thanks!

[code]

[2016-04-25 16:01] tarcieri commented on #335
Reopening as we should probably set the request Content-Length if it's known in advance.

[2016-05-03 23:41] peterc opened #337 "Headers with leading underscore being rewritten to dashes"
Similar to #317

I'm coding against a (popular) API that claims to support DELETE but which, sadly, does not. It requires you POST and set a _method header to POST instead.

Unfortunately, setting a "_method" header results in HTTP::Headers.normalize_header changing the "_" to a "-" as part of its normalization process and the header becomes "-Method" which doesn't work.

I believe the first line

[2016-05-03 23:44] tarcieri commented on #337
@peterc at least for responses, we try to canonicalize the headers so things building abstractions on top of this library can rely on the canonical name.

The same does not hold true of requests, however.

[2016-05-03 23:57] peterc commented on #337
Good point, that makes sense for response headers.

I am not sure what this means for legitimate (if ugly) request headers, though. In the interim, however, for anyone who runs into the same issue, I am using the following patch to silently protect leading-underscore headers:

`module HTTP
	class Headers
		alias old_normalize_header normalize_header

		def normalize_header(name)
			return name if

[2016-05-04 00:00] ixti commented on #337
I would ask why non-standard field is not prefixed with `X-` as proposed in RFC, but I believe nobody knows ;)) Anyway, one of the main reasons behind "normalization" of headers is, as @tarcieri already pointed out making sure they are easily accessible from whatever stuff on top of http gem.

I agree that we probably should not normalize headers for requests. Alternatively, we can provide a black

[2016-05-04 00:02] ixti commented on #337
I mean configurable blacklist of course.

[2016-05-04 00:04] peterc commented on #337
Yeah, `X-Http-Method-Override` is a common (and far easier to deal with) alternative/synonym for `_method` but appears not to work with the API in question, alas :-( (The API is a financial one almost exclusively used from Java and .NET code, which might explain why I'm mostly discovering these things in the dark 😂)

[2016-05-04 00:11] ixti commented on #337
I'm totally fine with allowing request to have non-normalized headers, but that will most likley need api change. E.g. I know that lots of people do `HTTP.headers(:content_encoding => "...")`, or at least I do that :laughing:

Probably we can provide an extra api like:

[code]

that will serve this purpose, but I think it might worth adding a globally known ugly header names that should not be nor

[2016-05-04 00:12] ixti commented on #337
Both variants seems good to me, although I lean toward first one ;))

[2016-05-04 00:21] ixti commented on #337
On the other hand, second variant is easier to achieve. :D

[2016-05-05 00:50] ixti commented on #337
@httprb/core RFC

[2016-05-05 01:58] tarcieri commented on #337
I would rather have a generic API than whitelisting people's errata.

@peterc this API really demands a `_method` *header* instead of just a param? Seems kinda wacky to me.

[2016-05-05 05:26] tarcieri commented on #337
Looking at `normalize_header`, I'm curious why it converts `_` to `-`

[2016-05-05 10:19] ixti commented on #337
@tarcieri To make it normalized :-P

[code]

We can actually re-work headers class to store both normalized and non-normalized header names and a flag whenever that header should be sent raw or normalized. I like idea of extra API better as well.

[2016-05-05 13:24] peterc commented on #337
@tarcieri I'll see if it works with a param, but after a cpl hours pulling my hair out the other night, I noticed in their own "API explorer", it was setting that header and using POST. When I replicated this using your library, it also failed, until I printed out exactly what was going out over the wire, then wrote my workaround. So yeah, not the world's best API ;-) Separate to that, though, it

[2016-05-05 13:35] zanker commented on #337
Having an API that adds something like `raw_headers` makes sense for me, since we can't really predicate what people come up with (like this `_method` one). I'd like to stay away from type based APIs though personally, just because that can get confusing.

[2016-05-05 14:47] ixti commented on #337
I also think that type based APIs might cause confusion.

[2016-05-05 15:59] tarcieri commented on #337
@ixti ugh @ normalizing snake case symbols. I buy the rest of the normalization behavior (in fact I think I originally implemented it) but that seems a tad odd to me

[2016-05-05 16:07] ixti commented on #337
yup! :smile:

yup! :laughing:

I'm a bit overdosed with magic in some other gems already :wink:

[2016-05-18 04:03] hdt80 opened #347 "Processing incoming data from a server?"
I've looked at the docs, and I'm unable to find a way to print out the data coming in from a `persistent` connection.

I'm connecting to a server using `HTTP.persistent`, and I can use `.get` to get responses, but I would I constantly read in from a connection - from say keep-alive requests?

[2016-05-18 22:41] tarcieri commented on #347
Use `#readpartial` if you'd like to stream data. It's documented in the README here:

https://github.com/httprb/http#basic-usage

Also, please ask questions like this on the mailing list in the future. The issue tracker is for bugs / new features.

[2016-05-18 22:41] #347 closed

[2016-06-15 21:51] sporkmonger commented on #323
@tarcieri I'd actually be really interested in hearing more about where Addressable has been a problem.

[2016-06-15 21:54] tarcieri commented on #323
@sporkmonger #297 has most of the discussion. For what it's worth I don't think we're planning on removing it anymore.

[2016-06-20 13:05] Fred-JulieDesk opened #354 "Not verifying SSL"
Hi,

I recently tried to ignore SSL verification when calling an endpoint of mine over HTTPS. I'm developping and using a self signed certificate.

I switched to your gem because previously using http-client, I found a memory hole in timeout.rb used by this gem.

Http-client allow to bypass ssl verification by doing something like

[code]

I tried something similar with your gem :

[code]

However

[2016-06-20 16:08] tarcieri commented on #354
We don't provide a first-class API for this. See #308 for a similar inquiry.

[2016-06-20 16:08] #354 closed

[2016-06-27 21:21] tarcieri opened #355 "HTTP header injection"
I think http.rb may be vulnerable to something similar to this:

http://seclists.org/fulldisclosure/2016/Jun/63

I don't think `HTTP::URI` is properly sanitizing the URL such this won't happen.

[2016-07-20 09:32] HoneyryderChuck opened #356 "http_proxy and https_proxy (and probably no_proxy) not supported out of the box"
I don't know if this was by design, but it took me some figuring out on how to explicitly set proxy.

However, for portability, I'd automatically set proxy from the environment (the `http{,s}_proxy` env var), just like `net/http` does.

It's not that hard, as URI#find_proxy is all you need to accomplish this. This also has the benefit of supporting the `no_proxy` env var.

[2016-07-20 10:14] britishtea commented on #356
While convenient, perhaps it's better to be explicit about this. See for example https://httpoxy.org.

[2016-07-20 10:30] TiagoCardoso1983 commented on #356
It seems that this could be mitigated by the web server though, as most ruby deployments don't run as CGI (?). Still, this an available convenience from ruby standard library.

[2016-07-20 11:06] TiagoCardoso1983 opened #357 "Re-add io/wait operations"
@tarcieri

Coming from #298 and #322

## Why

Just to understand my motivation, all ruby net/protocol libraries use ```io/wait```, so I'd say it's a must for libraries like ```http``` to update support.

## How

I was testing with the example from #298 until I got the semantics right. Here is the script I used:

[code]

Run this script with the 3 strategies and compare the results.

This might be

[2016-07-20 11:35] HoneyryderChuck opened #358 "read_nonblock with exception: false also return :wait_writable"
and vice-versa.

See https://github.com/ruby/ruby/blob/trunk/lib/net/protocol.rb#L162-L163 and the link in the comments. This is a case for every SSLSocket. I don't know how much implications this might have had in real world usage, but I'd still guard against it.

[2016-07-20 11:38] TiagoCardoso1983 opened #359 "#connect_ssl influenced by read/write timeouts, not connect"
https://github.com/httprb/http/blob/master/lib/http/timeout/per_operation.rb#L30-L36

The rescue's seem ok, problem is the timeout used underneath. The correct timeout in this case should be connect_timeout, but in both blocks two different timeouts will be used.

This could be easily handled if the rescue_ methods would accept a timeout parameter which would overwrite the default IMO.

[2016-07-20 16:20] tarcieri commented on #358
This should be handled correctly here:

https://github.com/httprb/http/blob/master/lib/http/timeout/global.rb#L51

and here:

https://github.com/httprb/http/blob/master/lib/http/timeout/global.rb#L87

The handling of the response values is generic, regardless of what operation is performed. They can also raise even if `exception: false` is passed (as at least earlier versions of JRuby did with SSL

[2016-07-20 16:49] TiagoCardoso1983 commented on #358
Ups, forgot to link: https://github.com/httprb/http/blob/master/lib/http/timeout/per_operation.rb#L61-L84

I think the only time this might happen is during the ssl session establishment, therefore [here](https://github.com/httprb/http/blob/master/lib/http/timeout/per_operation.rb#L30-L36), although I could be wrong and that's a general case for all _nonblock routines. In this particular case howe

[2016-07-20 21:08] TiagoCardoso1983 commented on #356
@britishtea see http://ruby-doc.org/stdlib-2.3.1/libdoc/uri/rdoc/URI/Generic.html#method-i-find_proxy it's already solved for ruby.

[2016-07-21 02:21] tarcieri commented on #357
Interesting. If this actually works, I'm all for it.

Want to send a PR?

[2016-07-21 05:15] TiagoCardoso1983 commented on #357
I'm be "out-of-office" until middle of August, I'll only be able to tackle this then. I'll also need some more data to back up this assumption, but I really think that, for cases like Keep-Alive, we have to wait until #read_nonblock stops sending data.

[2016-07-21 16:21] tak1n opened #363 "Sidekiq worker threads hanging"
We currently are facing a lot of hanging sidekiq workers, which pile up and finally block all sidekiq queues.

When trying to debug it I sent the TTIN signal to our sidekiq process (which triggers thread backtrace output) and got following backtraces:

https://gist.github.com/tak1n/7a074e23276a2274602e2f28f694d0e8

I then checked the TID's which hang in sidekiq busy view and all of them are relate

[2016-07-21 16:35] tarcieri commented on #363
Have you tried enabling timeouts?

[2016-07-21 16:39] tak1n commented on #363
Nope not yet, will try that thx.

If this works I will try to form a pr for https://github.com/sferik/twitter which uses null timeout.

[2016-07-25 09:02] tak1n commented on #363
Closing as I think twitter gem should specify timeout values through the timeout api provided by http gem.

[2016-07-25 09:02] #363 closed

[2016-07-26 01:21] TangMonk opened #366 "HTTP::RequestError: invalid transfer encoding"
When I try to do following:

[code]

will throw an error to me:

[code]

But works in curl:

[code]

[2016-07-26 01:26] tarcieri commented on #366
Perhaps this should raise a more intuitive error, but you are passing a `Hash` as the body, and the request serializer doesn't know what to do with it.

Try this instead:

[code]

BTW I hope those weren't real credentials! 😮

[2016-07-26 01:27] #366 closed

[2016-07-26 01:30] TangMonk commented on #366
@tarcieri, thanks for you quick reply!

[2016-07-29 09:06] abotalov commented on #357
It looks like behaviour of `wait_readable` was changed a bit in 2.3.0:
https://github.com/ruby/ruby/commit/a60e00fde84929b2b5b3943107ce2bae3db14935

`Waits until IO is readable without blocking and returns self, or **nil** when times out. Returns true immediately when buffered data is available.`

Btw, it looks like #wait_writable can also return nil - https://github.com/ruby/ruby/commit/a4f727442

[2016-08-01 15:44] ixti commented on #335
Resolved by #360

[2016-08-09 05:15] #359 closed

[2016-08-23 22:36] backus opened #371 "HTTP::Client overwrites body if it isn't read before another request is performed"
If I use `HTTP` to perform two requests in a row and I don't do `response.body.to_s` on the first then the body string for the first response will be overwritten with `""`.

Here is a script that demonstrates the bug:

[code]

Output when I run the script:

[code]

[2016-08-23 23:46] tarcieri commented on #371
An empty string is definitely unexpected and undesirable in this case, however I don't think it makes sense to eagerly read bodies clients aren't interested in.

I think it would make sense to raise an exception in this case.

[2016-08-23 23:49] backus commented on #371
Ok so the issue in my case was that we have an integration test like this:

[code]

Are you saying that this shouldn't be allowed behavior or should raise an exception?

[2016-08-23 23:49] backus commented on #371
@tarcieri Ok so the issue in my case was that we have an integration test like this:

[code]

Are you saying that this shouldn't be allowed behavior or should raise an exception?

[2016-08-24 00:08] tarcieri commented on #371
I think if you make a request, do not consume the body, make another request with the same client, and then try to consume the body for the original request, it should raise an exception.

If you would like to consume the body for the original request, it should happen before you make a subsequent request, IMO.

[2016-08-24 00:52] backus commented on #371
@tarcieri I think that sounds surprising to me because my impression of HTTP.rb was that it aimed to provide an immutable and chainable interface for performing requests. This seems like surprising behavior. While I agree that raising an error would be better than what I've reported it seems like a bandaid. My impression was that the chaining methods were providing me new instances without shared

[2016-08-24 00:58] backus commented on #371
At the very least it would be nice if I could have something like `response.finalize` that I can call and get a simple immutable response wrapper that isn't tied to a connection object.

[2016-08-24 01:31] tarcieri commented on #371
Calling `#to_s` on the body prior to making another connection will accomplish that.

Yes, I will admit this behavior is a little bit surprising even to me.

[2016-08-24 01:36] ixti commented on #371
there's helper for that too:

[code]

[2016-08-24 01:37] ixti commented on #371
`flush` consumes body and returns response itself

[2016-08-24 18:16] backus commented on #371
Would it introduce performance implications and/or breaking changes if each response object had a separate connection object?

[2016-08-24 18:20] backus commented on #371
Also thank you @ixti that is helpful

[2016-08-24 22:24] ixti commented on #371
It will be (probably) a breaking change. And yeah, I guess it will make it easier to shoot the foot for one. But in general I think it's pretty doable and might become a pretty good improvement.

[2016-08-31 15:26] ccoenen commented on #272
@zanker did you get around to looking at it? I'm currently trying to assess the near-future state of Celluloid Support for this gem.

[2016-08-31 15:49] tarcieri commented on #272
I've started working on it. I should have the basic pieces of it relatively soon

[2016-08-31 22:57] ccoenen opened #372 "Connection closes even though it's supposed to be a persistent connection."
I have recorded this in wireshark. I am talking to an API (Rails, delivered via NGINX). For some reason, the persistent connection is not persistent:

[code]

It is a chunked response, that I can parse correctly. But Right after the response, my http.rb client will send a `FIN` TCP-Packet, closing the connection. This happens in Frame 47386 of this following screenshot.

![http rb stream](https://

[2016-09-02 20:26] avinashbot opened #373 "Minor mistake in Wiki"
In the [Response Handling](https://github.com/httprb/http/wiki/Response-Handling) page, it says that `#body` returns an `HTTP::Body`, but it should return an `HTTP::Response::Body`, should it not?

And it might be a good idea to clarify that `HTTP::CookieJar` isn't actually part of the gem, but comes from the 'http-cookie' gem.

[2016-09-02 20:46] ixti commented on #373
I have fixed wiki re Body. What comes about `HTTP::CookieJar` I'm not sure it worth adding that. Or at least I can't find proper place to add it.

[2016-09-02 20:46] #373 closed

[2016-09-04 03:52] tarcieri commented on #272
Here's a WIP: https://github.com/celluloid/socketry/pull/3

[2016-09-07 18:42] javierjulio commented on #126
The issue I see here is by using say a Ruby library that uses HTTP internally, I don't believe there is a way to get at the response in case of a MimeType error since the decode method just raises an `HTTP::Error` with a message but nothing else. Common case would be working with a JSON API that at exceptional times returns an HTML response (e.g. most likely due to a 5xx error). The thing is revie

[2016-09-07 18:52] tarcieri commented on #126
If you really want this behavior, why not consume the body yourself and call `JSON.parse`?

I don't think it makes sense to silently downgrade to a raw body on a parse error.

[2016-09-07 19:05] zanker commented on #126
Agreed with @tarcieri. If you're working with a server that misbehaves and returns a content type that mismatches, I think it's better to be explicit and parse it yourself then.

[2016-09-07 19:37] javierjulio commented on #126
I wasn't suggesting a change but merely if possible to get the response in case of an error. If not, then thats ok. I'm fortunate since I'm not just the library consumer but author as well haha. The thing is my app isn't making the request, but rather through a library that is using HTTP. I realize now I should be very careful with response mime type and handle appropriately despite it being a JSO

[2016-09-07 21:34] ixti commented on #126
If 3rd party service misbehaves, you can write a small helper inside your library (I do that way myself. Something like this:

[code]

[2016-09-08 10:31] britishtea commented on #126
What I think @javierjulio means is: is there something like a `HTTP::Error#request`?

This could be handy when dealing with 3rd party libraries (such as API wrappers) that are not properly handling errors. The better solution is of course to patch the library to properly handle errors.

[2016-09-08 11:27] ixti commented on #126
@britishtea No, there's no such thing at the moment, and I can't see really good way to introduce it. Parse error happens not from the response actually. `#parse` is nothing more but a syntax sugar for:

[code]

In other words neither picking up correct mime type handler, nor decoding is actually belongs to Response in any way. At least in my opinion :D On the other hand, @httprb/core what do you

[2016-09-12 03:35] tarcieri commented on #372
These are the main triggers for closing the connection:

https://github.com/httprb/http/blob/master/lib/http/client.rb#L95

Does this happen every time, or is it spurious? If it's spurious, it's probably http.rb trying to handle and gracefully recover from closed connection errors

[2016-09-12 12:41] ccoenen commented on #372
As far as i can tell from wireshark, I guess this connection close happens every time. I'll look into the triggers a little later, I am on a different project this week.

[2016-09-12 18:55] tarcieri commented on #272
Socketry is shaping up now: https://github.com/socketry/socketry

It's mostly feature complete at this point. Still a little work to do.

I started trying to convert http.rb to use it. Note that it only provides an equivalent of `HTTP::Timeout::PerOperation`, so `HTTP::Timeout::Global` will need to stay in this library. But that makes sense (I think), because those timeouts need to have knowledge

[2016-09-12 18:58] tarcieri commented on #372
The codepaths I linked are the only ones I'm aware of that would trigger a connection close. Perhaps you're trying to reuse a connection that's in a dirty state? (although looking at your code, I'm not sure where that would happen)

[2016-09-18 03:37] thebenjy opened #374 "windows 'get using basic_auth always returns 401 (unauthorised)"
Code works on mac os x
Using same code on windows 7 always returns 401. Note had to fix cert issue setting SSL_CERT_FILE.  (versions below).

**code**
[code]

anything I've missed?

Ben

versions
`ruby 2.0.0p647 (2015-08-18) [i386-mingw32]`

gems
[code]

`set SSL_CERT_FILE=C:\Bitnami\rubystack-2.0.0-34\ruby\lib\ruby\site_ruby\2.0.0\rubygems\ssl_certs\cacert.pem`

[2016-09-18 18:25] ixti commented on #374
Can you try that with Ruby `2.2.x+`? Most likely the issue has nothing to do with http gem directly, but with something in ruby itself.

[2016-09-19 08:25] thebenjy commented on #374
thanks ixti - i probably should have tried before (was hoping not to as its a legacy ruby shoes app)

I have tried now it fully breaks the SSL access issue (SSL_CERT_FILE override not working), and will have to keep trying to fix this before I get to the auth bit...

[2016-09-21 22:25] tarcieri commented on #374
I am guessing this isn't actually an http.rb bug. Please reopen if otherwise.

[2016-09-21 22:25] #374 closed

[2016-09-21 22:26] tarcieri commented on #357
This will get handled in #272. If you'd like to make sure that's the case, please take a look at https://github.com/socketry/socketry

[2016-09-21 22:26] #357 closed

[2016-09-21 22:27] tarcieri opened #376 "Use http2bin.org"
This is an online service for HTTP testing. It looks nice for use with any tests which are live instead of against the mock server.

[2016-09-22 02:13] ixti commented on #376
Was thinking of the same, but something dragged me away from that idea.
Would like to outline couple of things though:

- using it will disallow to run specs without internet connection, although that can be resolved by instructions on how to setup local httpbin server and configure specs to use it instead of hosted one
- network lag might affect specs

But, now as I spoke of those I think they ar

[2016-09-22 02:18] tarcieri commented on #376
This is already the case:

https://github.com/httprb/http/blob/master/spec/lib/http/client_spec.rb#L100

As an aside, we could potentially disable these with RSpec metadata, but that's a separate issue. So long as we have them (and I think we should, I don't think testing exclusively against WEBrick is a good idea), this seems like a more useful service to perform such testing with.

[2016-09-22 07:45] ixti commented on #376
Oh. Indeed. Then, I guess we should switch. Absolutely agree on second part too.

[2016-09-22 09:16] TiagoCardoso1983 commented on #357
@tarcieri sweet! I was figuring that the changes would end up there. Still, a few questions:

* Regarding https://github.com/socketry/socketry/blob/07ba77f583dd5bfaf6a029cc43b9b77125fdc84e/lib/socketry/tcp/socket.rb#L171-L175, my MR changes and comments showed that between a `:wait_readable` return and a `socket.wait_readable(timeout)` call, the socket might not have anything to read, will return

[2016-09-22 15:36] tarcieri commented on #357
@TiagoCardoso1983 the first case appears to be unhandled. Re: exceptionless I/O for 2.3 mode, I don't really see the value in complicating the logic just for connect/accept

[2016-09-30 21:32] sysout opened #378 "config URI normalization by default"
Hi,

It seems that HTTP gem do URI normalization by default and I can't find the option to change this behavior. I have an application that won't work if HTTP gem do URI normalization. For example, HTTP.get(url) will decode %2B to +
Please let me know if we can control the URI normalization or not. Thank you!

[2016-10-01 17:35] tarcieri commented on #378
I'd prefer to be able to configure this and shut it off as well. Normalization has been the cause of some past issues, e.g. #206 #246 #259 #325

[2016-10-03 00:13] ixti commented on #378
@tarcieri I agree that we should allow enable/disable normalization as well as I think it will make sense to allow use different backends for URI (Addressable::URI / ::URI), so that those who don't want to use addressable (there was an issue for that) would be able to avoid it.

[2016-11-04 18:40] grosser commented on #212
still seeing this with http (2.0.3) + webmock (2.1.0) ... removing webmock makes the tests work ... (it is in allow_web_connect mode for this set of tests)

[2016-11-04 18:45] grosser commented on #212
tried simply disabling that check and it did not blow up, but no longer had responses ...

[code]

solved by using

[code]

[2016-11-04 19:08] tarcieri commented on #212
@grosser do you have a minimal repro? I'm not encountering this problem with the same versions in my projects that use webmock with http.rb.

[2016-11-05 03:17] grosser commented on #212
here we go :D

... not sure if that helps ... replacing with just a Http.get did not trigger it ...

[code]

[2016-11-08 13:16] tak1n commented on #363
I'm currently trying to form a PR for twitter gem to let the user configure a timeout which will then be used for http's timeout api and questioning my self some things.

Even if there is no timeout specified on the ruby side (in http gem in this case) shouldn't there be a default OS Kernel / low level socket timeout? I always thought there are such default timeout values but then it does not make

[2016-11-08 14:09] tak1n commented on #363
I tried a get request with null timeout and it timed out after a certain time because it could not connect to the given address (http://stackoverflow.com/a/904609):

[code]

I know some socket operations are in general blocking (eg read) and when there is no data it just waits until data is available. In the documentation the same for readpartial is said: http://ruby-doc.org/core-2.3.1/IO.html#met

[2016-11-10 18:12] zackxu1 commented on #73
@ixti The above is really helpful.  It would be even more helpful if it's in the README of the gem.  Thank you.

[2016-11-12 03:04] tarcieri commented on #73
@zackxu1 it's documented here: https://github.com/httprb/http/wiki/Passing-Parameters

[2016-11-20 02:17] xanview opened #379 "SSL_connect certificate verify failed"
I'm making a connection to an alarm which has a self signed certificate, I'm seeing this:

[code]

Is there anyway to allow insecure ssl certificates and/or self signed certificated?

[2016-11-20 02:22] xanview commented on #308
This works but feels like a messy workaround and is a pain to have to repeat in every single request. Can maybe something like this be added? <

[code]

To mimic the --insecure option of curl?

[2016-11-20 02:24] xanview commented on #379
I found an issue and a workaround here: #308 - but it would be great if a cleaner solution was available or some way to set the context in a reusable client object, e.g.:

[code]

[2016-11-20 05:23] #379 closed

[2016-11-20 05:23] tarcieri commented on #379
Dup of #308

[2016-11-21 15:13] ixti commented on #308
I think `#insecure` is a good idea in general.

[2016-12-16 16:24] amite opened #382 "unable to make api request"
I am trying to translate a curl request that works in the terminal for me into ruby code using the `http` gem.

This is the curl request that gives me back the valid json I want:

    curl -X GET --header 'Accept: application/json' --header 'api_key: somekey' --header 'authtoken: sometoken' 'https://cdn.domain.io/v3/content_types/shirts/entries?environment=dev'

With the [http gem](https://github.

[2016-12-16 16:34] tarcieri commented on #382
I'm guessing this is probably a dupe of #337

[2016-12-16 16:38] amite commented on #382
So you are converting `_` to `-`? Changing `api_key` to `api-key` doesn't work either!? Am I reading the issue wrong? What's the solution?

[2016-12-16 16:40] tarcieri commented on #382
I don't know offhand... can you tell if the header name is getting mangled?

[2016-12-16 16:41] amite commented on #382
How do I check that? How do I read back the headers that are getting set? I tried to find a method but it didn't work!

[2016-12-16 16:43] tarcieri commented on #382
Sniff the traffic with tcpdump? Spin up a local web server and print out the whole request? Use [Burp Suite](https://portswigger.net/burp/) to MitM the connection? Add a print statement to the gem source code in `$GEM_HOME`?

[2016-12-16 17:08] amite commented on #382
I just tried doing all of the above. I don't understand any much of it I am afraid. Isn't what I am doing a standard use of the gem?

[2016-12-16 17:10] tarcieri commented on #382
Did you manage to discover if the "api_key" header is getting rewritten to something odd?

[2016-12-16 17:13] amite commented on #382
I tried doing `sudo tcpdump -n -A | grep -e 'api_key'`. Not getting any results

[2016-12-16 17:16] amite commented on #382
With `sudo tcpdump -n` I managed to capture this relevant chunk:

[code]

[2016-12-16 19:50] ixti commented on #382
It's duplication of #337 for sure. `:api_key => "foobar"` willl send `Api-Key: foobar` header.
I think it really worth to make headers normalization less aggressive. I will try to come up with solution for that over this weekend.

[2016-12-18 12:26] #335 closed

[2016-12-22 22:42] akelmanson opened #384 "#readpartial is not respecting max length argument"
Hi there,

According to [`IO#readpartial`](https://ruby-doc.org/core-2.2.2/IO.html#method-i-readpartial) documentation, this method "reads at most maxlen bytes from the I/O stream", but `HTTP::Response::Body#readpartial` is returning more bytes than expected.

    HTTP.get('http://www.rubydoc.info/github/httprb/http').body.readpartial(10).length

[oj](https://github.com/ohler55/oj) calls this meth

[2016-12-22 23:05] ixti commented on #384
Can you please provide a simple example that will reproduce the issue? Because `Body` delegates `#readpartial` to `IO` at the end in fact with given `maxlen`.

[2016-12-22 23:10] ixti commented on #384
I confirm issue exists:

[code]

[2016-12-22 23:13] ixti commented on #384
The issue is because we read response headers first. And once they are fully fetched some of body might happen to be written in the chunk waiting for the first `readpartial` call.

[2016-12-25 18:32] #113 closed

[2016-12-27 14:00] britishtea commented on #371
I *think* holding on to the last pending response in `HTTP::Connection` could solve this problem.

The connection already tracks if a response is pending (i.e. the body is not read yet) and has enough information to release its reference to the response to avoid a memory leak (`#finish_response`, `#close`).

If `@pending_response` (or an additional instance variable) were to contain an actual `HTT

[2017-01-17 14:12] LukaszMaslej opened #387 "Support for CardDAV protocol"
Would like to request HTTP gem playing well with rfc6352 CardDAV protocol. REPORT method is not supported.

[2017-01-18 18:53] tarcieri commented on #387
PRs accepted

[2017-01-20 13:56] scarfacedeb opened #388 "HTTP::Uri#dup doesn't duplicate the internal url variable"
I'm using `HTTP::Response#uri` method to get the final destination url during redirects, and I've been getting a strange bug when running it in production.

When I make a request to url with query parameters, they are being cut off in `HTTP::Response#uri`.

[code]

Surprisingly, this bug disappears in the ruby console.

-----

During debugging, I've discovered that NewRelic gem was the source of t

[2017-01-20 14:25] scarfacedeb opened #389 "HTTP::Request#headline raises InvalidURIError when path is equal to //"
I've encountered InvalidURIError error when dealing with the redirects to a location with `//` path. (e.g. `https://google.com//`).

After further investigation, I realized that HTTP doesn't allow to make a request to such urls at all.

The crux of the matter is [HTTP::Request#headline](https://github.com/httprb/http/blob/acf5dbeb5aa8c4c62a6bba01c648eb254a1dde2a/lib/http/request.rb#L144) method th

[2017-01-22 21:04] #387 closed

[2017-02-01 23:42] aemadrid opened #394 "net-http-spy support?"
Is there anything like `net-http-spy` that would with `http.rb`?

[2017-02-02 00:37] ixti commented on #394
We're gonna add logging abilities if your question is about that

[2017-02-04 04:26] javierjulio opened #395 "Wrong number of arguments with http 2.2.0 and webmock"
I had just been updating some outdated dependencies in a project. I reviewed the changes for http but didn't expect anything breaking. I had some tests fail where we use webmock. The two are involved but I'm not sure what is wrong.

[code]

[2017-02-04 18:32] britishtea commented on #395
Looks like with version 2.2.0, specifically commit 9542da42166fc34f8499e22ebcce0a50cad65811, the signature of `Response::Body#initialize` changed. This is the [webmock callsite]( https://github.com/bblimke/webmock/blob/master/lib/webmock/http_lib_adapters/http_rb/response.rb#L17).

Since Response::Body isn't marked as private API, this should probably be considered breaking backwards compatibility

[2017-02-04 23:36] tarcieri commented on #395
Sounds like a regression. We should release a patched version that supports the old API.

[2017-02-06 16:24] javierjulio commented on #395
Sorry I should have replied back as I was attempting to resolve the issue. Yes @britishtea is right, locking the version to 2.1.0 works. That's what my project was using before upgrading so its fine for us for now.

[2017-02-06 19:23] ixti commented on #395
Will release http 2.2.1 with fix today

[2017-02-06 20:54] #395 closed

[2017-02-08 10:01] britishtea commented on #337
Reading through [`spec/lib/headers_spec.rb`](https://github.com/httprb/http/blob/master/spec/lib/http_spec.rb) almost all methods defined on `HTTP::Headers` perform normalization. Adding a `#raw_headers` option will not be sufficient: raw header names such as `"_method"` cannot be looked up or deleted.

To mitigate this there are two solutions:

1. Giving each header a tag indicating wether it was

[2017-02-09 03:45] tarcieri commented on #394
Dup of #238

[2017-02-09 03:45] #394 closed

[2017-02-09 03:50] tarcieri commented on #337
I would still suggest adding `#raw_headers`...

What I think might make a lot of sense here is to store a raw headers hash, and handle normalization through a proxy object which would more or less preserve the current API but normalize headers at the time they're accessed. This would make the normalization transforms side-effect free, as opposed to the current mangling solution.

 I don't understa

[2017-02-09 07:01] bidiu commented on #384
Sorry, this is irrelevent to this issue, but have some correlation: how to detect the end of the stream?
I am new to httprb, and I am using persistent connection. I assume because the connection isn't close, there is no eof after read out all the response body bytes. Right now I am stuck in loop. Could you give me some clue? The documentation not that informative.

[2017-02-09 07:02] tarcieri commented on #384
@bidiu please ask on the Google Group:

https://groups.google.com/forum/#!forum/httprb

[2017-02-09 07:09] bidiu commented on #384
@tarcieri Okay, and sorry, I will delete my replies soon.

[2017-02-09 07:16] tarcieri commented on #384
@bidiu no worries, just FYI that's the proper place to ask

[2017-02-09 07:41] bidiu commented on #384
@tarcieri Thanks!

[2017-02-09 07:54] bidiu commented on #384
@tarcieri No need to ask now, just checked the source of Response#each, figured it out: D

[2017-02-09 08:14] britishtea commented on #337
@tarcieri Perhaps I should phrase it as "**only** adding a `#raw_headers` option will not be sufficient; `HTTP::Headers` will need changing too :)

The solution you propose will work, I believe, with the caveat that `HTTP::Headers` won't be able to tell the difference between `_method` and `-method` when accessing. This is probably not an issue in practice.

[2017-02-11 07:56] r-obert commented on #337
all this trouble so you don't have to write `'Content-Type' =>` instead of `content_type:` ? :smile: dual APIs (headers and raw_headers) sounds confusing, and it would exist because of normalisation logic that is buggy and always will be, the solution proposed is to avoid the bug by adding a new API.

i liked string vs symbol being used to opt-in or out, because it's subtle and i never use symbols

[2017-02-11 20:45] r-obert commented on #238
and there's this PR: https://github.com/httprb/http/pull/348, although the event API described in #209 looks nice :smile:

[2017-02-11 20:45] r-obert commented on #394
and there's this PR: https://github.com/httprb/http/pull/348, although the event API described in #209 looks nice :smile:

[2017-02-16 00:02] xanview opened #401 "Connections hang and time out when running in Celluloid::IO"
I started 2 processes, one just httprb running in a loop:

[code]

The other is running inside of eye (which uses celluoid internally). Both processes run identical code, except the latter logs any exception:

[code]

Despite running virtually the same code, the code that runs inside of celluloid is timing out and throwing an exception:

[code]

Any ideas why this is happening? -- More details her

[2017-02-16 00:11] tarcieri commented on #401
Closing as this is more or less a dup of #272

`Celluloid::IO` is unsupported in recent versions of `http.rb` due to timeouts, which is probably what you're hitting here.

I've been working on an underlying socket layer abstract enough to accommodate both models while still providing robust timeout support:

https://github.com/socketry/socketry/

There is a WIP PR to convert http.rb to use this li

[2017-02-16 00:11] #401 closed

[2017-02-16 00:16] xanview commented on #401
The timeout issue is also preventing requests from being made altogether?

It shouldn't be timing out at all, the request takes 0.1 seconds to complete but with httprb it is just hanging for 30 seconds before finally dying. This also seems to be intermittent, hmm.

[2017-02-16 00:21] xanview commented on #272
Thank you for the work on this. Is there any experimental version yet to try this out? -- If not, can you recommend any high level HTTP library that works inside of Celluloid::IO?

Socketry looks great, but presumably it is pure access to the socket rather than an HTTP library.

[2017-02-16 00:44] tarcieri commented on #401
Timeout support is completely broken for `Celluloid::IO` right now

[2017-02-16 00:49] tarcieri commented on #272
You can try the `socketry` branch (from #377) although there's a bit more work involved to make it fully `Celluloid::IO` compatible.

[2017-02-16 00:55] xanview commented on #401
Lack of Timeout support is preventing from making requests altogether?

I've switched to Net::HTTP for now with celluloid, but really love http.rb for non celluloid applications :)

[2017-02-16 00:56] tarcieri commented on #401
Yes, timeouts are instrumental to the way the current I/O layer functions

[2017-02-21 21:29] scarfacedeb commented on #388
Any news on this one? I can create a PR if it's necessary.

[2017-02-21 22:12] tarcieri commented on #388
Please do

[2017-02-22 00:36] ixti commented on #388
So I assume we need to add:

[code]

@scarfacedeb PRs are always welcomed :D

[2017-03-08 16:25] #388 closed

[2017-04-07 16:11] ezilocchi opened #403 "Unknown MIME type: application/hal+json"
I'm getting this error when the response from the server is coming with `Content-Type:application/hal+json; charset=utf-8`. Is any other type different from `json` supported by this gem? If not is there any plan to support this kind of new mime types?

[2017-04-07 16:25] tarcieri commented on #403
Are you calling `HTTP::Response#parse`? Can you post a backtrace?

This error normally shouldn't arise simply because the server sent you a response with an unknown MIME type.

[2017-04-07 16:36] ezilocchi commented on #403
So, this is the backtrace
[code]
and it makes sense based on the content of that [line](https://github.com/httprb/http/blob/5bbaecc628fbd045446aeaac465f8eade91d6851/lib/http/mime_type.rb#L37)
[code]
The only adapter registered by default is [lib/http/mime_type/json.rb](https://github.com/httprb/http/blob/master/lib/http/mime_type.rb)

Since the only thing  I need is to parse response content as a

[2017-04-07 16:38] tarcieri commented on #403
Well, you're missing the rest of the backtrace, but I think you answered my question: you're using `#parse`

Yes, `#parse` only works on registered MIME types. And yes, registering a MIME type for what you want to parse should fix the problem.

[2017-04-07 18:42] ixti commented on #403
Yes. `#parse` works with registered mime types only unless specific adapter is explicitly requested. So you should either register adapter the way you did or pass `:json` to `#parse`:

[code]

[2017-04-07 19:03] ezilocchi commented on #403
Nice, thanks for the Advice. I tried the first approach (register the adapte) and it worked but I like this other way, looks easier :). Thanks!

I'm closing this issue since this is the answer:

OPTION 1: register an adapter:
[code]

OPTION 2: pass `:json` params to the parse method
[code]

[2017-04-07 19:03] #403 closed

[2017-04-07 19:43] ixti commented on #403
Just for sake of giving more examples. In one project I have:

[code]

[2017-04-12 19:52] nestegg opened #404 "keepalive timeout not configurable"
I'm trying to keep a persistent connection open to a finicky API and am running into issues with the the keepalive timeout.  A few questions:

The default timeout is set very short (5 seconds).  What's the rationale for this?

It is not configurable through the API.  Is this deliberate or an oversight?

If I were to provide a PR to address this, I'm thinking this should be an option passed to pers

[2017-04-12 20:21] ixti commented on #404
The reason for 5 seconds is it's default for apache https 2.2+, but I totally agree this should be configurable. It should be an option of `#persistent` - will be happy to review PR.

[2017-04-24 19:53] dgollahon commented on #404
I was about to ask about the status of this but it looks like it was addressed in https://github.com/httprb/http/commit/4738d22c4b615aba193710aee83cc34b5c4792de.

I have a use case for this feature and would prefer to depend on a full version instead of a git revision. Any chance of a release in the near future?

Thanks for all the great work on `http`!

[2017-04-24 20:28] ixti commented on #404
@dgollahon Sure. Completely forgot to cut release. Will do in the nearest future

[2017-04-27 18:38] ixti commented on #404
@dgollahon released as 2.2.2

[2017-04-27 18:38] #404 closed

[2017-05-15 01:42] janko-m commented on #376
Just wanted to mention that http://httpbin.org is open source and can be run locally, so there is no need for internet network requests: https://github.com/kennethreitz/httpbin

I recently ported the test suite for [Down](https://github.com/janko-m/down) from Webmock to httpbin, and it worked great: https://github.com/janko-m/down/commit/21e385b35d5948f046129c317a23a28eb17e3c3d

[2017-05-21 13:15] janko-m opened #411 "Documentation for following redirects"
I noticed that following redirects isn't mentioned in the wiki documentation, so I'm submitting this as a pull request to the wiki.

--------

# Redirects

## Automatically following redirects

The `HTTP.follow` option can be used for automatically following redirects:

[code]

## Limiting number of redirects

A maximum of 5 subsequent redirects will be allowed by default (anything more
will raise

[2017-05-21 16:05] ixti commented on #411
I have unlocked WIKI from editing. Please, add your changes there! And thanks once again!

[2017-05-21 16:11] janko-m commented on #411
Thanks, updated!

[2017-05-21 16:11] #411 closed

[2017-05-21 17:38] ixti commented on #411
🙇

[2017-05-23 06:52] janko-m opened #413 "Differences in response body encoding on JRuby"
When I run the following:

[code]

MRI outputs `ASCII-8BIT`, whereas JRuby outputs `UTF-8` encodings. The same thing happens when I swap the endpoint with `http://httpbin.org/encoding/utf8`.

I'm note sure what should be the correct general behaviour, whether chunks should always be in binary encoding, or only when charset isn't specified. But it seems that me that in the latter case the encoding

[2017-05-23 13:18] ixti commented on #413
It's definitely on our end (not http_parser.rb, as it's only responsible for headers parsing). And I agree that chunks must be either in encoding specified in headers, or binary (I believe we had that somewhere).

[2017-05-29 11:13] #413 closed

[2017-06-02 06:49] stevenkaras opened #415 "Auto-inflate does not support MS-style Deflate compression"
Even though the [IANA][iana] declared deflate compression to be inside a zlib wrapper, Microsoft chose to implement deflate compression as [raw streams][adler].

[iana]: http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#content-coding
[adler]: https://stackoverflow.com/a/9186091/152335

[code]

There's a related bug report in [Net::HTTP][upstream], although it doesn't mention t

[2017-06-02 20:00] ixti commented on #415
Hm. Good catch, but I don't think we should do anything. We inflate stream according to specs. The fact that Microsoft sends invalid deflated data (non-RFC compliant in this case) is an exceptional case.

IMHO we should just emphasize that in README and promote to use `"Accept-Encoding" => "gzip"`.

[2017-06-02 21:23] stevenkaras commented on #415
If I thought it would push MS to fix their software, then I'd be 100% for it. But given that the fallback handling is more or less straightforward and easy to document, I'd prefer to see support for it, and documented.

[2017-06-03 11:43] ixti commented on #415
In the SO you linked, Mark Adler said:

Also, I would like to highlight some of [loose the wait](https://zoompf.com/blog/2012/02/lose-the-wait-http-compression) article:

With all above, I would like to emphasize last bit of Mark Adler's quote, that it was (and in fact *is*): **simply more reliable to only use gzip**. And here's small experiment with bing.com:

[code]

Even if you will set quantif

[2017-06-03 12:36] puzrin commented on #415
@stevenkaras do you have example from real world when server supports deflate and does not support gzip? IMHO doing something for deflate is a waste of time.

[2017-06-03 14:36] stevenkaras commented on #415
I ran across the issue due to this site which strongly prefers deflate over gzip ("gzip, deflate; q=0.5" results in deflate):

https://www.lytx.com/en-us/blog/

I haven't found any others that exhibit the behavior. Regarding the behavior of MS servers, it may have originated in very old versions, but the headerless deflate is the current behavior of IIS 10.

[2017-06-03 14:45] puzrin commented on #415
@stevenkaras problem is that you should NOT allow deflate in accepted compressors if you wish 100% correct behaviour. Why don't you ask gzip only?

[2017-06-04 23:32] ixti commented on #415
So, in other words, https://www.lytx.com/en-us/blog/ not only does not follows `deflate` content encoding specs, but it also improperly handles accept-encoding field.

Of course it's possible to try inflate raw deflate body, but the logic for that will make inflation complex for no good. Let's take a look on how that logic will look like:

[code]

Comparing to current state of inflater - this is a

[2017-06-05 21:05] stevenkaras commented on #415
@puzrin TBH, I had copied the headers from a captured Firefox session. Very little about browsers has to do with 100% acceptable behavior. Getting even 50% is a very good day.

@ixti that was more or less what I came up with as well. On further reflection, I feel the best place for this is upstream, as Zlib already handles both gzip and deflate (RFC1950,1951).

In either case, the current behavior

[2017-06-17 00:25] nackep opened #416 "SSL handshake_failure"
SSL fails with latest http gem under jruby:

jruby-9.0.4.0 :031 > require "http"
 => true
jruby-9.0.4.0 :032 > HTTP.get("https://blocktrades.us")
OpenSSL::SSL::SSLError: Received fatal alert: handshake_failure
	from org/jruby/ext/openssl/SSLSocket.java:218:in `connect'
	from /home/.rvm/gems/jruby-9.0.4.0/gems/http-2.2.2/lib/http/timeout/null.rb:26:in `connect_ssl'
	from /home/.rvm/gems/jruby-9.0.4

[2017-06-17 00:58] tarcieri commented on #416
Please file a bug here:

https://github.com/jruby/jruby-openssl

[2017-06-17 00:58] #416 closed

[2017-06-21 06:50] janko-m commented on #22
I was trying to use http_parser.rb on my project, and had experienced the `Could not parse data entirely` error, and I was able to reproduce it here: https://github.com/tmm1/http_parser.rb/issues/29#issuecomment-309976363. Basically it happens when the first string with HTTP headers includes some binary body.

This apparently isn't a problem anymore in HTTP.rb, but I'm just trying to understand wh

[2017-06-29 01:27] nightpool opened #417 "Try other addresses resolved via DNS if the first one fails"
When available, ipv6 addresses seem to be preferred to IPv4 ones. However, in practice, v6 addresses are much less reliable. This is a pretty big problem for the Mastodon project, since it often gets urls that are served by dual-stack instances with dubious ipv6 setups, and so it ends up timing out on a lot of them, causing issues verifying posts.

It would be very useful if we could configure som

[2017-06-29 06:03] tarcieri commented on #417
The preference ordering comes from DNS. http.rb is not doing anything unusual here, at all, it leans on core Ruby to resolve DNS and pick a host:

https://github.com/httprb/http/blob/master/lib/http/timeout/global.rb#L26

That said, what? No. We're using the system resolver, and we are absolutely not going to introduce special logic to second guess it by doing things like prioritizing IPv4 over IP

[2017-06-29 18:58] ThibG commented on #417
It is not so much about doing anything special with the DNS requests or prioritizing IPv4 over IPv6, but rather trying other returned addresses if the first picked one fails. I am not sure there is any standard for that, but it is pretty common to try several addresses whenever a DNS query returns multiple A/AAAA records when the first try fails.

[2017-06-29 19:00] tarcieri commented on #417
Okay, that's a valid concern. Reopened the issue and updated the title to reflect that

[2017-06-29 22:27] ixti commented on #417
My 2 cents. Once valid (working) address found - it should probably be cached at least for the given TTL (probably can be configured) so that next request to the same host will "shortcut" on trying those we know not working

[2017-07-03 14:53] britishtea commented on #372
Ran into the same issue today. Here's what I believe is happening:

1. When the headers are set `HTTP::Chainable#headers` is invoked.
2. `HTTP::Chainable#headers` invokes `HTTP::Chainable#branch`, which creates [a fresh `HTTP::Client`](https://github.com/httprb/http/blob/dbd9251d5d1422bcbba587c7ae7d20c899d4777c/lib/http/chainable.rb#L247) and [a fresh socket](https://github.com/httprb/http/blob/db

[2017-07-05 13:10] noraworld opened #419 "How to send a request with multiple identical keys"
Suppose we want to send the following request with query string parameters:

[code]

We should probably use `HTTP.get()` like this:

[code]

However, it's just not possible to have a hash with multiple identical keys in Ruby.

[code]

How should we do?

[2017-07-05 13:17] noraworld commented on #419
Sending a request with indexes, I got an error.

### Request:
[code]

### Error:
[code]

[2017-07-05 13:34] britishtea commented on #419
To use multiple identical keys, use an Array of key-value tuples:

[code]

The above error is unrelated (you're calling `#parse` without having registered a HTML parser). It does in fact make a request with the correct query string parameters (although the square brackets (`[` and `]`) are URL encoded).

[2017-07-05 13:56] noraworld commented on #419
I tried, but an application server returned only result of the request with `id=3`.

I inspected what a request URL is:

[code]

An application server doesn't work properly unless a request is like `http://example.com/resource?id[]=1&id[]=2&id[]=3`.

[2017-07-05 14:46] noraworld commented on #419
I modified your solution a little like the following.

[code]

I tried above, and it worked properly.

Thanks to your suggestion I was able to solve the problem. I appreciate your help, @britishtea.

[2017-07-05 14:46] #419 closed

[2017-07-17 17:18] bortzmeyer commented on #417
@nightpool I fully agree with @ThibG, it is not an IPv6 issue but, just for information: Mastodon does not do any specific treatment, such as preferring IPv6 over IPv4 or the opposite. It is entirely up to your operating system (on Linux, you can change the behaviour by editing /etc/gai.conf.)

[2017-07-21 14:22] britishtea opened #420 "Frequent HTTP::ConnectionError with persistent connection"
We recently switched to using persistent connections and started seeing requests fail frequently due to a `HTTP::ConnectionError`, specifically the one raised here in [`HTTP::Connection#read_headers!`](https://github.com/httprb/http/blob/master/lib/http/connection.rb#L100).

I suspect these are raised because the destination server has closed the connection before `HTTP::Connection` thinks the Kee

[2017-07-21 16:03] tarcieri commented on #420
At that point in the request lifecycle the connection is not idle: it has just sent a request and is awaiting a response.

For it to get into this state means something weird is happening. It could be it has managed to send a TCP packet (small requests should fit in a single one since we're Nagle friendly) and then shortly thereafter receives a RST or NACK. So these errors would, at the very least

[2017-07-21 17:09] zanker commented on #420
Because of how all the various buffers and low level failures in networking work, we can't really do that. It's possible to have a request that succeeds on the server, but fails on the client when trying to read the headers.

If you're seeing timeout errors, it likely means something (like a load balancer) between the client and server has mismatched Keep-Alive settings. It's a bit of black magic

[2017-07-21 18:41] hmistry opened #421 "How to build a request without running it?"
There are 2 things I'd like to do with this library and not sure how to do it.

First, I'd like to print out the request to see if everything looks correct. I'm thinking something like `HTTP.headers(some_hash).get(some_url).to_s` which will create a string something like `GET some_url headers: some_headers`. With this I don't need to waste time with MiTM apps and can see the conversion is correct.

[2017-07-21 22:49] ixti commented on #421
Logging interactions will be possible soon - I'm gonna find time next week to merge down outstanding PRs including logging one.

I like the proposal of `build_request` in fact I was thinking about that lately, as I needed the same for myself. Thus I'm totally open for PRs or will do that myself once will have some spare moments.

[2017-07-22 01:58] tarcieri commented on #420
Yeah, so I'm going to close this because one way or another this is an error: a request was sent, then the socket was closed.

If you think an automatic retry mechanism is the best solution for your problem, please open an issue with a more detailed proposal of exactly what you want.

[2017-07-22 01:58] #420 closed

[2017-07-23 02:34] unarist opened #422 "Upgrade header which advertises protocol support being treated as an actual upgrading"
from [RFC7230 sec. 6.7](https://tools.ietf.org/html/rfc7230#section-6.7):

However, current http.rb treats it as an actual upgrading, and doesn't process response body.

c.f. https://github.com/nodejs/http-parser/issues/363

[2017-07-23 09:12] Gargron commented on #422
:+1:

[2017-07-26 07:22] hmistry opened #423 "Are file uploads changed in request to cause content hash mismatch?"
I'm using HTTPrb to upload files to AWS S3 and I'm getting a content hash mismatch between what I submit and what AWS computes for the file. File is a simple "Lorem ipsum..." ascii test file.

If I send the same file using curl with the same `ClientComputedContentSHA256`, it works!

Does sending the file as a form change it or produce a different data body attached to the request than curl's -T?

[2017-07-26 22:36] tarcieri commented on #423
This would be a pretty severe problem if true... can you perhaps put together a self-contained reproduction that doesn't involve Amazon?

[2017-07-27 01:16] ixti commented on #423
`curl -T` sends given file AS IS. It's not wrapping it up into a form. What you want is:

[code]

[2017-07-27 01:20] ixti commented on #423
Here's what remote server will receive if you ill run `curl -T foo http://localhost:8080`:

[code]

When you pass `:form` to http ruby client:

[code]

It will send a multipart form-data body:

[code]

[2017-07-27 06:17] hmistry commented on #423
@ixti Yes I figured out later that it was wrapping it in a form vs just attaching it.

Is there a complete list of different options to pass in a request? As a first time user of HTTPrb, the only way I learned about how to attach file using form was because I came across it in the repo's issue list! If you have a listing of all the different options some where, I can spare time to turn it into a w

[2017-08-14 15:55] twizzzlers opened #425 "Timeout in production but not in development"
I'm running this simple code:

`HTTP.get('http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/Cnpjreva_Solicitacao2.asp')`

In development where my Ruby version is 2.2.3 and Rails version is 4.2.6, it works.

But in production where my Ruby version is 2.3.4 and Rails version is 4.2.6, it does not work.
It keeps hanging until it gives me a Timeout Error:

`HTTP::ConnectionError: failed t

[2017-08-14 16:04] tarcieri commented on #425
This is likely an issue with either DNS or your production network.

Try this from a production shell (with netcat):

`$ nc -v www.receita.fazenda.gov.br 80`

[2017-08-14 16:04] #425 closed

[2017-08-16 15:08] twizzzlers commented on #425
The issue was that `www.receita.fazenda.gov.br` blocked the ip from my production machine.
I just had to rebuild my AWS EBS for my instance to get a new ip. After this it worked.

Thank you for your help! :)

[2017-08-28 08:30] icyleaf opened #427 "Incompatible character encodings with non-english characters"
ENV

[code]

It throws exception if it passed non-english characters with file to post form.
[code]

resule:

[code]

Why file encode was `ASCII-8Bit` ?

[2017-08-28 23:37] tarcieri commented on #427
@icyleaf thanks, this does indeed look like an encoding bug

[2017-08-31 10:29] imadmoussa1 opened #428 "Error with query String params"
I am using the http gem in a rails api project.
I have a problem while making a "get"  call to another rails api  using the `:params` option . this function convert those params to string because of this  they are not parsed.

Is there any solution to send "query params" instead of  "query string params" ?

the query params  sent using this gem  :
`/comments?filter=%7B%22title%22%3D%3E%22%22%2C+%2

[2017-08-31 16:26] tarcieri commented on #428
Can you post a code example? I very strongly suspect this is something wrong in your usage, and not a bug in the gem.

[2017-09-01 01:16] mikegee commented on #428
I've found this gem doesn't handle nested params natively and have resorted to using [ActiveSupport's `#to_query` method](http://api.rubyonrails.org/classes/Hash.html#method-i-to_query)

This request:

[code]
makes this query request:
[code]
which decodes to:
[code]

Using `#to_query` in a Rails app to construct the query string works right, though:

[code]
makes this query request:
[code]
decodes

[2017-09-01 07:35] imadmoussa1 commented on #428
Dear @tarcieri , i am using  this code in my project
`HTTP.get(url, params: { filter: { post: '1,2', author: 12 } })`.
and the solution of Mr. @mikegee worked well , thanks a lot .

[2017-09-01 09:31] britishtea commented on #428
We use `Rack::Utils.parse_nested_query` and `Rack::Utils.build_nested_query` to work around this.

[2017-09-08 07:39] bknarendra commented on #403
@ixti A correction in your above example. An "end" is missing for module.
module HTTP
  module MimeType
    # HTML decode MIME type adapter
    class HTML < Adapter
      # Decodes HTML
      def decode(str)
        ::Nokogiri::HTML str
      end
    end

    register_adapter "text/html", HTML
    register_alias   "text/html", :html
  end
end

[2017-09-08 13:11] milgner opened #430 "Handling EPIPE during write"
While trying to send a request, something happens (still investigating the source of the problem, it might be the server dropping the connection), resulting in a `EPIPE` error.
Would I be correct in assuming that this best be caught in the request writer? If so, I can prepare a PR to that effect.
Of course I'm open to other suggestions :)

[code]

[2017-09-08 17:04] ixti commented on #403
@bknarendra Oh. indeed! Thanks!

[2017-09-25 19:17] AugustoEMoreira opened #432 "How to unescape comma on request?"
I need to make a request where one gets parameter is a comma separated value, but i have a weird problem.
the f***ing server can't handle the encoded comma "%2C". How can i achieve this get?

Thanks

[2017-09-25 19:44] ixti commented on #432
Right now the only way is to pass value as part of URI:

[code]

[2017-09-25 19:46] ixti commented on #432
Just to clarify. Imagine you have following code:

[code]

It will issue the request:

[code]

[2017-09-26 20:38] AugustoEMoreira commented on #432
thanks for the answer

[2017-09-26 20:41] #432 closed

[2017-10-01 17:22] ixti commented on #423
It's in wiki already https://github.com/httprb/http/wiki/Passing-Parameters, that page is linked in https://github.com/httprb/http/wiki/Making-Requests

[2017-10-01 17:22] #423 closed

[2017-10-14 11:41] janko-m commented on #430
@milgner Yes, the `Errno::EPIPE` exception is most likely caused by the server closing the TCP connection. I would think so, because the same exception is raised when using Ruby pipes, where you try to write to the write end of the pipe while after the read end was closed.

[code]

I think it would be appropriate to raise a `HTTP::ConnectionError` in this case, and `HTTP::Request::Writer` looks li

[2017-10-14 21:38] janko-m commented on #430
I already opened a PR https://github.com/httprb/http/pull/436 😛

[2017-10-15 16:14] milgner commented on #430
Nice! I was afk for the weekend, thank you for the quick patch! :+1:

[2017-10-16 20:28] #430 closed

[2017-10-17 15:54] igorigorigorigor opened #437 "Logging request payload\data\body with httplog is broken in 3.0.0"
Httplog(https://github.com/trusche/httplog) logs kind of memory pointer instead of the payload\data\body itself.
`D, [2017-10-17T18:42:06.013390 #53965] DEBUG -- : [httplog] Sending: POST https://address.domain/api_method`
`D, [2017-10-17T18:42:06.013533 #53965] DEBUG -- : [httplog] Data: #<HTTP::Request::Body:0x007f93735632c8>`

Here is my code for this
`payload = { :param_1 => param_1.to_s, :par

[2017-10-23 19:08] janko-m commented on #437
The change introduced in https://github.com/httprb/http/pull/412 is responsible for this behaviour. Before `HTTP::Request#body` would return the object that was assigned as `:body`, but now it returns an instance of `HTTP::Request::Body`. The fix is very easy, I'll send a PR to httplog.

[2017-10-26 09:27] janko-m opened #439 "Which HTTP client gems use the Timeout library?"
In the [Thread Safety](https://github.com/httprb/http/wiki/Thread-Safety) wiki there is this paragraph:

However, Net::HTTP (and therefore HTTParty and REST Client) use the Timeout standard library only for opening the TCP connection, which HTTP.rb also does. I couldn't find any HTTP client gem which uses the Timeout standard library for setting timeouts on operations other than opening the TCP co

[2017-10-26 19:48] tarcieri commented on #439
To my knowledge no other Ruby HTTP libraries provide a timeout system which
is both as advanced/flexible and thread safe.

Perhaps this section could be reworded to focus on the flexibility of the
timeout system, but I don’t think it should be removed outright.
--
Tony Arcieri

[2017-10-26 19:48] tarcieri commented on #439
Also, are you actually sure about that? I’m on a phone and can’t look right
now, but the Timeout-based timeouts (previously?) used by Net::HTTP
occurred in protocol.rb
--
Tony Arcieri

[2017-10-26 20:13] ixti commented on #439
I thought moving to socketry would allow us to get rid of using Timeout.

[2017-10-26 20:29] tarcieri commented on #439
Socketry supports both the system resolver (using Timeout) and a Resolv-based resolver, which is asynchronous and doesn’t need Timeout, but implemented in pure Ruby and much less fully-featured.

The system resolver is the default.

[2017-10-27 00:35] mikegee commented on #439
I don't see the thread-unsafe style timeouts in [protocol.rb](https://github.com/ruby/ruby/blob/trunk/lib/net/protocol.rb).

[2017-10-27 00:39] zanker commented on #439
If I recall, Net::HTTP got fixed around 2.1-2.2 to not use Timeout.timeout.

The main advantage of httprb now is the overall timeout rather than per operation, which I don’t believe any others do.

Sent from my iPhone

[2017-10-27 08:16] janko-m commented on #439
I definitely agree!

I agree, that's *really* useful, I also didn't see it in any other HTTP client libraries. Another thing is the `:write` timeout, which I imagine is really useful with file uploads (other libraries have only `:open/:connect` and `:read` timeouts).

[2017-10-27 08:50] janko-m commented on #439
The reason why I asked about this paragraph is because in my recent HTTP.rb presentation I wanted to emphasize that HTTP.rb has *native* timeouts, and for comparison I wanted to mention a library that uses `Timeout.timeout` for write/read timeouts, but I couldn't find any (I didn't see any non-thread-safety in `Net::HTTP`). While native timeouts are objectively a cool feature, it seems to me that

[2017-11-03 17:58] nightsurge opened #440 "Documentation on handling exceptions/timeouts?"
Hello,

The documentation has no details on how to handle request exceptions and timeouts. A small blurb would be wonderful so that we know how to properly rescue without being overly generic (rescue => e).

Thanks!

[2017-11-03 20:46] mikegee commented on #440
Documentation on this sounds like a great idea. I think the answers you are looking for are in [http/errors.rb](https://github.com/httprb/http/blob/master/lib/http/errors.rb).

[2017-11-11 01:21] janko-m commented on #437
@igorigorigorigor This PR should bring necessary changes to HTTP.rb for me to then be able to send a PR to httplog – https://github.com/httprb/http/issues/437.

[2017-11-15 19:06] krainboltgreene opened #441 "SSL_connect SYSCALL returned=5 errno=0 state=SSLv3 read server session ticket A"
I think this is me using up too many ports, but I'd love some confirmation.

Here's the backtrace:

[code]

[2017-11-15 20:07] ixti commented on #441
I might be wrong but this seems like related to OpenSSL: https://stackoverflow.com/questions/25814210/opensslsslsslerror-ssl-connect-syscall-returned-5-errno-0-state-sslv3-read
-

[2017-11-15 21:53] krainboltgreene commented on #441
To be clear:

  1. It's not every request
  2. It's not the error in that stack overflow
  3. The server is using openssl 1.0.2g
  4. The client and server are both using ruby 2.4.0

More and more I'm thinking I'm simply running too many threads.

[2017-11-15 22:08] tarcieri commented on #441
This is a TLS handshake failure. Any number of things can cause it, such as the remote side spontaneously closing the connection, possibly in response to something you did or did not do as part of the handshake, or simply being overloaded/rate limited.